[2012-10-29 15:50] neocoin opened #66 "scm_breeze conflict with gitflow scripts"
Thank you for great tool. I always use scm_breeze shortcut set.

'gitflow' propose standard branching model with 'master, develop, feature, hotfix' and support good tool for that process.

example

[code]

You could see on https://github.com/nvie/gitflow

Until now, I have been used scm_breeze and gitflow with no problem. But after recent upgrade scm_breeze, my gitflow operation is broken.

for ex

[2013-02-10 14:44] c00w opened #79 "_scmb_git_branch_shortcuts -D not found"
I'm getting the following after I upgraded to the lastest version

/home/colin/.scm_breeze/lib/git/branch_shortcuts.sh:46: exec_scmb_expand_args _scmb_git_branch_shortcuts -D not found

[2013-06-03 14:33] paulp opened #90 "shell-significant chars must be escaped before calling eval"
I was rather puzzled by this until I discovered common shell commands had been quietly wrapped. (I suggest a louder announcement of that would be appropriate.)
[code]

[2013-06-03 21:12] paulp opened #91 "Hardcoded usage of .git ignores GIT_DIR"
The functions which look for .git (e.g. fail_if_not_git_repo) should be looking for environment variable $GIT_DIR before they look for git. Similarly, GIT_WORK_TREE should be honored. I would simply wrap the commands, but it is turning out to be unreasonably difficult to transparently wrap bash aliases.

[2013-06-17 10:32] joaovpmamede opened #93 "-bash: gb: command not found"
I'm running on OSX and I'm getting this message.
Every shortcut that deals with branch seems to not be working.

[2013-12-19 20:36] dlee opened #127 "shortcuts are wrongly offset when using `gb` while workspace is in a detached state"
This is in zsh:

[code]

The output seems correct, but the variables are incorrect:

[code]

[2014-03-23 04:31] sarbull opened #136 "TODO: SVN"
Someone please make it for SVN. :+1:

[2014-04-19 19:36] simonweil opened #138 "Add scm_breeze to homebrew"
Hi,

Firstly, thank you for a great and useful project!

I requested to add `scm_breeze` to `homebrew` the package manager for OSX.

They replied that they require version release tagging in order to add `scm_breeze` to `homebrew`.

**Would it be possible to do so?** `homebrew` really helps managing software on OSX (I use it for almost all my install software) and I'm sure `scm_breeze` will benefi

[2014-04-23 16:51] pmeth opened #139 "Why does gd now add "--""
May I ask the reasoning behind adding -- to gd in 878d81a4bde5dc7f5ee59f833d7f4b354388f797

I find it quite useless as I can no longer compare my current branch to another branch using this shortcut, but I would love to hear your reasoning.

[2014-06-24 02:13] zommerfelds opened #146 "git diff --staged with gd"
Does `gd --staged` not work by design or is it a bug?

[2014-08-16 20:12] michaelmior opened #149 "exec_scmb_expand_args in window title"
My window title ends up prefixed with `exec_scmb_expand_args` when I run my editor. I'm not quite sure why this is this case, but it would be nice if it wasn't. Any help figuring this out would be appreciated :)

[2014-11-23 12:30] jkwiecien opened #158 "Doesn't seem to work in zsh"
This is really weird as I use this on my other Mac with the same config, and it works there.

I'm using zsh. Installation completes and I can see all the files under ~/.scm_breeze.

Line was added to my .zshrc
# SCM Breeze

[ -s "/Users/jacek/.scm_breeze/scm_breeze.sh" ] && source "/Users/jacek/.scm_breeze/scm_breeze.sh"

This path is correct, I did source zshrc... still aliases doesn't work

[2015-01-29 13:13] ilkka commented on #127
The same happens when one runs `gba`:

[code]

So it just seems to tokenize whatever is on the lines, breaking at every space.

[2015-03-19 07:41] mieky opened #165 "'ll' breaks without ruby installed"
In a box without Ruby installed, "ll" fails:

[code]

It looks like the culprit is some "ruby golf" in the function ls_with_file_shortcuts: https://github.com/ndbroadbent/scm_breeze/blob/master/lib/git/shell_shortcuts.sh#L138

I think the optimal solution would be to get rid of ruby as a hard dependency altogether, the second best to clearly mention ruby as a requirement.

[2015-04-15 00:33] sethwoodworth opened #166 "Blogpost link 404s"
http://madebynathan.com/2011/10/18/git-shortcuts-like-youve-never-seen-before/

It was really hard to find you from old hackernews posts because you changed the paths for your blog!

[2015-04-15 12:02] ndbroadbent commented on #166
Thanks for letting me know! I've added a redirect

[2015-04-15 12:02] #166 closed

[2015-04-20 16:36] tuzonghua commented on #165
I get similar behavior. The rbenv error is because I'm running all my code in Docker, so Ruby isn't installed locally as it were.

[code]

[2015-05-02 06:18] jawshooah opened #167 "Empty string arguments not being passed to git"
Currently, the `git()` function defined in `aliases.sh` does not retain empty string arguments. Here's an example to illustrate:

[code]

Related: github/hub#727

[2015-05-04 12:10] stephanvane opened #168 "__git_alias:2: no matches found: cmd_args=()"
Recently I've been getting this message when opening the terminal:

    Last login: Mon May  4 14:03:07 on ttys004
    __git_alias:2: no matches found: cmd_args=()
    __git_alias:2: no matches found: cmd_args=()
    ➜  ~

I'd guess it has something to do with this commit: d52ad497bc4c2627027769dc0aaf754afd006021

I'm using scm_breeze with zsh (oh-my-zsh) on osx-Yosemite

[2015-05-04 12:15] ndbroadbent commented on #168
@jawshooah - Would you mind taking a look at this? Any idea why this would be happening?

[2015-05-06 14:04] hermo commented on #168
I'm experience the same issue with Yosemite and zsh 5.0.7 from homebrew.
Some commands like gps, gap, gpl etc. stopped working while some like gs worked fine.

Locally reverting comment d52ad49 fixed the issue for me.

[2015-05-06 15:35] jawshooah commented on #168
Strange, everything works fine for me. I'll do some digging when I get home today.

[2015-05-06 16:24] g5pw commented on #168
I have a similar issue on Yosemite with ZSH 5.0.7. I found a solution, will send  a pull request later today.

[2015-05-07 03:37] jawshooah commented on #168
I think the changes in d52ad49 might be exclusively `bash`-friendly. I'm not familiar with `zsh`, so I'm not sure how to make the changes compatible. @g5pw, did you come to the same conclusion?

[2015-05-07 08:14] stephanvane commented on #168
If I tweak your code a bit I can replicate the problem:

[code]

[code]

The problem lies in the `local` keyword before `cmd_args=("${@:4}")` (the other 3 `local` keywords don't seem to matter)

[2015-05-07 11:01] jawshooah commented on #168
A better solution might be to declare local vars before assigning to them:

[code]

[code]

[2015-05-07 14:26] g5pw commented on #168
My solution was actually not correct :D But it looks like @jawshooah might be the winner, his solution works for me!

[2015-05-07 15:05] stephanvane commented on #168
You're right @jawshooah, that seems to be the best solution. I created a pull-request (e9217f50ab0a0c6fa13e8989a87814ac5befe98c)

[2015-05-07 15:17] jawshooah commented on #168
I see your commit, but no pull request. Are you sure you created one?

[2015-05-07 22:49] stephanvane commented on #168
Right again @jawshooah, guess I missed a step somewhere (or assumed that Github would add a PR along with the commit). Created one now.

Thank you all for the quick thinking! I learned a lesson of two on the bash/zsh scripting area. Keep up the good work!

[2015-05-08 13:50] #168 closed

[2015-05-08 13:50] ndbroadbent commented on #168
Thanks all, merged the fix

[2015-05-11 02:30] shinriyo opened #172 "__git_alias:3: no matches found: cmd_args=() error occurred"
Hi there.

I used the useful tool

But, some error occurred in my `.zshrc`'s last program.
[code]

it is error message.
[code]

I found the where call the bug in lib/git/aliases.sh.
I modified like below.
[code]

But, Is it good?

[2015-05-11 02:32] shinriyo commented on #172
I'm sorry. I updated.
But, no error occurred.
Is it fix recently?

Now, it is this.
[code]

[2015-05-11 03:01] ndbroadbent commented on #172
Hi there, yes I think this has been fixed recently. Please let me know if you still see any errors

[2015-05-11 17:45] #172 closed

[2015-05-25 15:49] bikezilla opened #174 "Aliases for 'git fetch' and 'git checkout' broken"
I use scm-breeze with oh-my-zsh and git plugin enabled.

I had scm-breeze at 3e09624f8a00bffd53f97722e4fad4743cc03355 and the aliases were working perfectly:
[code]

I updated to latest and now:
[code]

Going back to aforementioned sha fixes the behavior. What gives?

[2015-05-25 16:01] ndbroadbent commented on #174
Sorry, that was a recent commit! Fixed now

[2015-05-25 16:01] #174 closed

[2015-05-25 16:22] ndbroadbent commented on #165
Hi, sorry, fixed.

[2015-05-25 16:22] #165 closed

[2015-05-28 09:08] stephanvane opened #176 "Aliases for 'git fetch' and 'git checkout' broken"
The latest pull request (#175) seems to have broken #174 again. I'm using oh-my-zsh: `zsh 5.0.5 (x86_64-apple-darwin14.0)`

[code]

The previous version: (d288f3cd74cfc01fcb0caf96b9817ddcc4450a67) worked perfectly for me (in zsh). While the zsh-specific fix in #175 seems to break it again. Maybe the author of this fix uses an other / older zsh version?
@armen, could you please comment on this? Wha

[2015-05-28 12:50] armen commented on #176
I'm using old version of zsh.

[code]

[code]

[2015-05-28 12:54] armen commented on #176
@stephanvane could you please run following tests in your zsh:

[code]
[code]

And:

[code]

[code]

[2015-05-28 12:59] stephanvane commented on #176
sure:

[code]

[2015-05-28 13:02] armen commented on #176
That confirms the bug I have in my system should be somewhere else and has nothing to do with the slicing.

[2015-05-28 13:20] stephanvane commented on #176
Hmm, I'm afraid I don't understand it fully. In the comments [here](https://github.com/ndbroadbent/scm_breeze/commit/1ef06aa9cdc7bbd01bb3f92dcf1e61d7cd9b2576) you said the output of
[code]
was `four`.

On my system the output would be `three four`. This confirms that the problem on your system *does* have something to do with slicing right?

[2015-05-28 13:54] armen commented on #176
My confusion was for the fact that in the above test I forgot the bang after the sha, If you see the first line of my test instead of #! it is # that means both are executed with *sh*.

Yeah the bug still caused by the slicing. now I have another alternative. Could you please try this.

[code]

[2015-05-28 13:59] stephanvane commented on #176
Good catch. We're on the right track
[code]

[code]

[2015-05-28 14:02] armen commented on #176
Cool, I'll send another pull request I hope it wont break anything this time.

[2015-05-28 14:07] armen commented on #176
@stephanvane Could you please check the pull request and see if it fixes the problem?

[2015-05-28 14:13] stephanvane commented on #176
seems to work:

[code]

[2015-05-28 14:15] armen commented on #176
cool, thanks.

[2015-05-28 14:49] #176 closed

[2015-05-28 14:50] ndbroadbent commented on #176
Thanks!

[2015-05-28 15:01] stephanvane commented on #176
Thanks all,
Good job

[2015-06-01 15:30] bigkahuna1uk opened #178 "Unable to use in cygwin. Bash script fails with unexpected EOF"
Trying to use in Cygwin but in ~/.scm_breeze/lib/git/tools.sh I get an error when I source ~/.bashrc

git_remove_history() {
  # Make sure we're at the root of a git repo
  if [ ! -d .git ]; then
      echo "Error: must run this script from the root of a git repository"
      return
  fi
  # Remove all paths passed as arguments from the history of the repo
  files=$@
  $_git_cmd filter-branch --in

[2015-06-01 15:36] bigkahuna1uk commented on #178
Actually not just for tools.sh

$ source scm_breeze.sh
bash: ./lib/scm_breeze.sh: line 52: unexpected EOF while looking for matching ``'
bash: ./lib/scm_breeze.sh: line 74: syntax error: unexpected end of file
bash: ./lib/design.sh: line 88: unexpected EOF while looking for matching ``'
bash: ./lib/design.sh: line 107: syntax error: unexpected end of file
bash: ./lib/git/tools.sh: line 29: unexpec

[2015-06-09 09:35] rossey opened #180 "gb - Not a valid object name: '_scmb_git_branch_shortcuts'"
Since I've updated to version 9913996 the git branch alias `gb` has stopped working for me in bash and zsh with the error:

    fatal: Not a valid object name: '_scmb_git_branch_shortcuts'.

Not sure if I've got an old config or similar?

[2015-06-09 09:38] alexconlin commented on #180
I've got the same issue in zsh

[2015-06-09 09:45] rossey commented on #180
I'm not sure how to write a failing test for this. I wonder if it's similar to ff4ae793?

[2015-06-10 09:01] theonejb commented on #180
I had the same issue. From what I understood, it's happening because `__git_alias: lib/git/aliases.sh:64` expects at least 3 args, since it contains:

    alias_str="$1"; cmd_prefix="$2"; cmd="$3";
    shift 3 2>/dev/null
    cmd_args=$@

but since the alias for gb is defined using

    __git_alias "$git_branch_alias" "_scmb_git_branch_shortcuts": lib/git/branch_shortcuts.sh:41

the `shift 3` does

[2015-06-10 12:18] rossey commented on #180
Thanks @theonejb, looks like there is a PR for this https://github.com/ndbroadbent/scm_breeze/pull/179

[2015-06-11 09:16] stephanvane commented on #180
Hi all,

Maybe a neater solution would be to surround the shift with an if, to check for argument count:

[code]

What do you think about this? It works for me

[2015-06-16 10:20] ndbroadbent commented on #180
@stephanvane - thanks for your suggestion, I pushed the change: 53aba36

[2015-06-16 10:20] #180 closed

[2015-07-20 14:55] edutrul opened #181 "Support for fish shell"
Would be awesome that works also with fish shell
fishshell.com

"so far all commands are not found with fish"

Thanks

[2015-07-23 11:04] shinriyo opened #182 "my short cut request"
git update-index --skip-worktree hoge
git update-index --no-skip-worktree hoge
git open (like this https://github.com/paulirish/git-open)

or could you tell me how to add to your source cooe?
I will fix and create pull request.

[2015-07-27 16:20] onilton opened #183 "Breaks cd when using other languages"
I am using ubuntu 14.04 (in portuguese).

After install scm_breeze and sourcing it in my .bashrc, when I try to change to a dir I get:

[code]

(tdc: Is a directory)

When I change my system settings to use english, everything seems to work fine.

Running this cd in `bash -X`, i get:

[code]

I am using the stock settings of scm_breeze, also I reset my .bashrc to stock settings.

[2015-07-28 17:38] ryanseys opened #184 "Why is git checkout -b gcb and not gcob?"
`gc` is `git commit`
`gco` is `git checkout`
so `gcob` should be `git checkout -b` ?

[2015-07-30 09:51] LM450N commented on #184
I think `git checkout` is `gco` because `gc` was already took by `git commit`. But for `git checkout -b`, the `gcb` alias was available and it's one letter less than `gcob`.

[2015-08-17 20:23] ComputerDruid commented on #149
$ alias vim
    alias vim='exec_scmb_expand_args /usr/bin/vim'

This lets you do `vim 1` to edit the first result of `gs`

You can of course `unalias vim` to turn this off.

[2015-08-18 01:46] michaelmior commented on #149
I already have this alias set up. I'm not sure how this is related to my problem.

[2015-08-18 04:42] ComputerDruid commented on #149
"exec_scmb_expand_args in window title"

"exec_scmb_expand_args in alias"

Seems pretty related to me

[2015-08-18 19:52] michaelmior commented on #149
Could you explain how this would help solve the problem? I already have the alias set up and it's working fine. However, my terminal was showing exec_scmb_expand_args in the window title, which I didn't want. This seems to be resolved now (and unfortunately I'm not sure why), so I'm closing the issue. However, if you have any further thoughts, maybe some future user would find them helpful.

[2015-08-18 19:52] #149 closed

[2015-08-24 02:44] onilton commented on #183
Removing `cd` from the list of commands in `.git.scmbrc`, seems to "fix" the issue:

[code]
This seems a regression from bugs #98 and #64

[2015-08-30 17:52] kevinslin opened #186 "SCM breeze will always warn if RVM is installed"
The following warning will always play, even if the condition is satisfied.

`SCM Breeze must be loaded after RVM, otherwise there will be a conflict when RVM wraps the 'cd' command.`

Script should check if rvm has been sourced and only report warning if true.

[2015-09-15 14:52] #90 closed

[2015-09-15 14:52] #91 closed

[2015-09-23 17:35] edelgado opened #189 "Have to use $e1, $e2, etc instead of just 1, 2, etc."
Hi folks,

Not sure why this stopped working, but using the numeric file shortcuts no longer works:

![numeric_file_shortcuts](https://cloud.githubusercontent.com/assets/143209/10053048/7d061cb4-61ef-11e5-87d4-ee942894c1e2.png)

Any ideas?

[2015-09-23 17:56] edelgado commented on #189
Facepalm... Someone made a file named `1` in the repo. That was the issue.

[2015-09-23 17:56] #189 closed

[2015-10-01 16:46] sblask opened #190 "fatal: Command not found"
I am getting a `fatal: Command not found` after every command and none of the scm breeze functionality works using scm_breeze with zsh because of https://github.com/ndbroadbent/scm_breeze/pull/150

I do have hub and I do have gh:

$ which hub
/home/sebastian/.bin/hub

$ which gh
/usr/bin/gh

Not sure where exactly the error comes from.

As `gh` is now `hub`, should the check for `gh` not be remove

[2015-10-01 17:08] sblask commented on #190
Not sure why it's installed, but it's a node module:

ls -lha /usr/bin/gh
lrwxrwxrwx 1 root root 32 Sep  2 16:50 /usr/bin/gh -> ../lib/node_modules/gh/bin/gh.js

[2015-11-08 10:47] darwin commented on #93
Double check your own aliases (defined after scm_breeze script is run). I was getting the same message for "gh" which happened to be defined as my own alias.

[2015-11-08 14:48] joaovpmamede commented on #93
@darwin that's right. I should've closed this issue as I've got it working moments after.

Thank you anyway.

[2015-11-08 14:48] #93 closed

[2015-11-09 19:50] mplewis opened #192 "Support for multiple GIT_REPO_DIRs?"
I have work projects in `~/work/repos` and personal projects in `~/play/repos`. Is there a way to index both of these together instead of having to pick one or the other?

[2015-11-14 03:07] mplewis commented on #146
I have aliased `gds` to `git diff --staged` and that makes me happy.

[2015-11-28 21:07] robwise commented on #184
I dunno, I agree with @ryanseys, `gcob` is more intuitive given `gco` is git commit

[2016-01-07 18:08] captn3m0 commented on #186
Found the error:

`if [ -e "$HOME/.rvm" ] && ! type rvm > /dev/null 2>&1; then`

needs to be `if [ -e "$HOME/.rvm" ] && type rvm > /dev/null 2>&1; then`

Because, in posix shells, return value of 0 is true:

type would return 0 = true, and then the echo statements would run.

[2016-02-02 06:33] milesj commented on #138
+1

[2016-03-15 23:02] michaelmior commented on #182
You can easily add your own shortcuts in your shell init script. If you want to try for PR, you'll need to change the [aliases file](https://github.com/ndbroadbent/scm_breeze/blob/master/lib/git/aliases.sh).

[2016-03-22 09:46] kgsterneberg opened #200 "git branch -a breaks shell when there are many branches"
"git branch -a" breaks my shell if I use it on a repository with many branches. Works one time. Next time result is:
git branch -a
-bash: /usr/bin/sed: Argument list too long
-bash: /usr/bin/ruby: Argument list too long
-bash: /usr/bin/git: Argument list too long
-bash: /usr/bin/sed: Argument list too long

Complete test:

  [1]  my-branch
  [2]  your-branch
 ...
  [6735] some other branch

-bash:

[2016-03-22 09:47] folkol opened #201 "The scmb environment breaks when doing "gb -a" in a repo with too many branches – all subsequent commands fail with "Argument list too long""
### Environment:

**OS:**
*Mac OS X 10.10.5*

**Shell:**
*$ bash --version*
*GNU bash, version 4.3.42(1)-release (x86_64-apple-darwin14.5.0)*

**scmb:**
*$ git show --oneline*
*b6531e8 Merge pull request #193 from zackzachariah/master*

### Workaround:

As a workaround, I have commented out the scmb-enhancement to git branch:

    $ git diff
    diff --git a/lib/git/aliases.sh b/lib/git/aliases.sh

[2016-03-25 10:37] grota opened #202 "Wrong argument quoting when filename uses spaces."
hi @ndbroadbent, I seem to be getting some quoting errors when using the aliased `mv` using filenames with spaces, here's an example (with bash)

[code]

[code]

I think the right way to deal with would be to use something along the lines of `printf "%q" "$variable"`.
I can work on that, would you be accepting a MR using this strategy?

It is also possible that such a patch would fix another coupl

[2016-04-15 18:50] jylertones opened #204 "File names with shell-special characters"
In my repository, I have files with names like "$list.xml." When I use "ga" to add those, it does not escape these characters.

[code]

If there's anything I can do to help fix this bug, please let me know. Thanks in advance!

[2016-05-11 22:26] LM450N commented on #184
This issue is fairly old and there hasn't been much activity on it. ⌛

[2016-05-14 10:37] LM450N commented on #158
This issue is fairly old and there hasn't been much activity on it. ⌛

[2016-05-14 10:39] LM450N commented on #138
This is done no ?

[2016-05-14 15:13] ndbroadbent commented on #138
Hey yeah homebrew is great. I'm not what happened here and I don't really have any time to do it myself, but the idea sounds good 👍

[2016-05-14 15:13] #138 closed

[2016-05-14 15:26] ndbroadbent commented on #201
Jeez, that's a lot of branches! 4273c18 sets the limit to 300, any more than that and we just show the regular git branch output without any env variables. Hopefully that's enough for most people

[2016-05-14 15:26] #201 closed

[2016-05-14 15:28] ndbroadbent commented on #192
Hey, sorry I don't think there's a way to do this right now, but that's a great idea. Let me know if this would still be useful

[2016-05-14 15:28] #192 closed

[2016-05-16 18:56] jeffbyrnes commented on #138
@ndbroadbent looks like they [want a tagged release to use](https://github.com/Homebrew/legacy-homebrew/issues/28472#issuecomment-40713131)

[2016-05-21 19:29] dleve123 opened #205 "Uninstall fails and doesn't attempt to totally clean up"
The uninstall script seems to be broken on MBP (10.11.4):

[code]

Moreover, running the uninstall script doesn't attempt to remove the scm_breeze configuration files placed within `~` on installation:

[code]

[2016-06-04 21:49] #136 closed

[2016-07-14 13:53] rebolyte opened #207 "Integrate diff-so-fancy"
Is there a way to integrate [diff-so-fancy](https://github.com/so-fancy/diff-so-fancy) with scm_breeze's numbered shortcuts? I was able to add an alias that diff'd the whole repo, but I couldn't get numbered shortcuts to work.

[2016-07-14 16:49] ghthor commented on #207
From my initial inspection, `diff-so-fancy` is only used as a pipe target for output from a diffing tool. If this is incorrect, can you give me an example of how you'd use it with numbered shortcuts?

I was able to use `g diff --color 1 | diff-so-fancy` and it worked as expected. It'd be nice to use `gd 1 | diff-so-fancy` or integrate `diff-so-fancy` into the `gd` alias to enable `gd 1` to output

[2016-07-14 17:00] ghthor commented on #207
I was able to make `diff-so-fancy` the default output of `gd 1` by setting it in my global gitconfig[1] file.

[code]

I propose that this is the best way to enable DSF and nothing should be changed/added to scm_breeze.

[1] https://github.com/so-fancy/diff-so-fancy#usage

[2016-07-15 11:38] rebolyte commented on #207
Great, thank you! I wasn't thinking it would be integrated into scm_breeze, so this is just what I was looking for.

[2016-07-15 11:38] #207 closed

[2016-07-20 15:25] ghthor commented on #181
I'll be looking into adding support for this soon.

[2016-08-05 09:09] fzerorubigd opened #208 "infinite loop in zsh"
after this commit 0d80de33e675dcaec0f60b994f1d74c9dcd9603c , $2 passed to the _gs_relative_path is always empty.
I can not find the reason, but reverting this, and every thing is fine :/

Using zsh 5.2 (x86_64-unknown-linux-gnu) on Archlinux

[2016-08-15 09:38] tirithen opened #209 "scm_breeze broken after update?"
Hi, suddenly today after upgrading scm_breeze both running git with and without the aliases seem broken. :/ If I uninstall scm_breeze.

    ➜  clinical-models git:(master) ✗ gpl
    git:10: command not found: gh
    ➜  clinical-models git:(master) ✗ gp
    git:10: command not found: gh
    ➜  clinical-models git:(master) ✗ git pull
    git:10: command not found: gh
    ➜  clinical-models git:(mast

[2016-08-15 11:02] tirithen commented on #209
I realized that it might be related to oh-my-zsh update, I tend to mix them up some times but still the aliases are broken. :/

[2016-08-15 21:39] LM450N commented on #209
Ok, I confirm. I've just update `oh-my-zsh` and my aliases are broken. 🔨  Damn... 😑

[2016-08-16 23:35] fbvilela commented on #209
removing that line worked for me too. Thanks for the catch, @LM450N !

[2016-08-17 07:49] tirithen commented on #209
Thanks @LM450N ! So happy that I can use scm_breeze again. :D My muscle memory kept trying to type the shortenings instead of git status/diff/commit and so on.

[2016-08-17 07:52] ndbroadbent commented on #209
Hi, this is strange. Can someone please post the output of `type gh`?

[2016-08-17 08:02] ndbroadbent commented on #209
I pushed an update to comment out this line, but would like to figure out why it's happening

[2016-08-17 08:04] tirithen commented on #209
I have the line commented out and get the following (I have not spent time understanding the reason of the issue)

    $ type gh
    gh is an alias for git help

[2016-08-17 08:05] ndbroadbent commented on #209
Ohhhhh I see. I think oh-my-zsh is including it's own git aliases then. `gh` was initially a command-line tool for GitHub before it was merged into `hub`. So I don't think we need to worry about that anymore

[2016-08-17 08:05] #209 closed

[2016-08-17 08:46] gregpearce commented on #190
If anyone is currently having this error, I just started having it for a totally different reason. If you are an oh-my-zsh user, check that the line `plugins=(___, ___)` in your .zshrc file does NOT contain git. The oh-my-zsh git plugin does it's own versions of the same aliases as scm_breeze which now breaks it (for some reason wasn't breaking it for me in previous versions).

[2016-08-17 09:18] ndbroadbent commented on #190
Hi, I've just pushed an update that removes the "gh" check. I just found out that oh-my-zsh is now including it's own `gh` alias for `git help`. Should be fixed now.

[2016-08-17 09:18] #190 closed

[2016-08-17 10:28] LM450N commented on #209
You're welcome guys! 😉

[2016-08-27 00:59] robertsami commented on #208
+1, using bash on ubuntu 14.04 x64 if that matters

[2016-08-30 09:38] Ghostavio commented on #184
`alias gcob="gcb "` and 💥

[2016-09-02 13:00] zommerfelds commented on #146
Closing this issue as kind of a duplicate of #139.

[2016-09-02 13:00] #146 closed

[2016-09-02 21:15] ghthor commented on #139
Hmmm, Any thoughts on how to fix this with a simple change? I'm looking into it as well.

[2016-09-02 21:24] pmeth commented on #139
i made my own fork and fixed it there like this https://github.com/pmeth/scm_breeze/commit/552f7eb9af2937f2d4393b7ab6d6c88f14ff5358

You could do the same.  The only issue with this is you may have to manually keep your branch up to date with the upstream.  On the other hand, this may be good so you don't get new "features" that you didn't want when you update.

[2016-09-02 21:28] ghthor commented on #139
Hmm, well yeah. It seems that ndbroadbent added the -- to fix behavior in a directory that doesn't exist, probably due to a `git rm` command removing it. I'd like to not lose that bugfix as a regression just to fix this.

Also, I am now the maintainer of SCM_breeze and while it isn't my full time job, and am 100% committed to fixing and pulling in changes that the community has developed in the la

[2016-09-02 21:35] pmeth commented on #139
nice to know someone has taken over.  It is a good project, though a few small behaviours I don't agree with. Like this one, and another one that ruins my `ll` linux command.

I don't see how adding -- will fix directories that don't exist.  All it does is make the gd command only work on files/dirs and not branches.

[2016-09-02 21:42] ghthor commented on #139
Notice, that the referenced commit doesn't have any tests added so maybe we can just roll it back and see what happens.

[2016-09-02 21:55] pmeth commented on #139
it's a lot of code and a pretty old commit to just revert.  i would say if you agree with me, then make a new commit similar to the one i made on my fork (and maybe also remove the -- for git_diff_cached_alias. if you like i can make a pull request.

[2016-09-02 22:02] pmeth commented on #139
i have not looked at the recent updates and I think this issue may already be fixed.
https://github.com/scmbreeze/scm_breeze/search?utf8=%E2%9C%93&q=git_diff_alias&type=Code

[2016-09-02 22:03] ghthor commented on #139
Ooooo! Maybe we've just saved ourselves a little bit of work! Good catch!

[2016-09-02 22:04] #139 closed

[2016-10-20 08:05] iacobson opened #212 "`ls` directory content command not working anymore"
when running the `ls` command to see the directory content, I get the following error:
`fatal: Not a git repository (or any of the parent directories): .git`

if I run `source ~/.zshrc` in the terminal / iterm2, this gets fixed,
but then, each new terminal tab, will have the same issue.

I'm using `zsh` with `ohmyzsh`
I think this issue started after the last update of `ohmyzsh`

Uninstalling comp

[2016-10-21 06:51] gaiottino commented on #212
I've gotten the same issue. Very annoying.

[2016-10-21 09:05] mcocapiza commented on #212
I had the same wrong behavior yesterday...I think I did a "brew update" by mistake and then discovered the "ls" didn't work anymore.
By now and waiting for a fix, I commented the next line into the "~/.zshrc" file:

#[ -s "/Users/mcocapiza/.scm_breeze/scm_breeze.sh" ] && source "/Users/mcocapiza/.scm_breeze/scm_breeze.sh"

Hope this is useful for you.

[2016-10-21 09:42] iacobson commented on #212
@mcocapiza I think that disables the scm_breeze, which I wouldn't want to...
I will try to disable some of the scm_breeze modules and leave only the git shortcuts, to see if that fixes anything

[2016-10-21 10:55] ndbroadbent commented on #212
Sorry about that. I don't have much time to look into this and try to reproduce it, but it would be great if someone could figure this out and submit a pull request.

In the meantime you can add `export shell_ls_aliases_enabled="false"` to `~/.zshrc`, which disables the "ls" aliases.

[2016-10-21 11:07] iacobson commented on #212
@ndbroadbent thank you. Unfortunately I tried to add the export `shell_ls_aliases_enabled="false"` to .zshrc but still getting the same issue :/
Tried both in iTerm and Terminal

[2016-10-21 11:21] iacobson commented on #212
@ndbroadbent
Update: after trying the above, I tried to move the
` [ -s "$HOME/.scm_breeze/scm_breeze.sh" ] && source "$HOME/.scm_breeze/scm_breeze.sh" `
above
` source $ZSH/oh-my-zsh.sh`
in the `.zshrc`

This way `ls` works without manually running `source ~/.zshrc`

But this time I get this error each time i start a terminal:
`/Users/dorianiacobescu/.scm_breeze/lib/git/aliases.sh:190: command no

[2016-10-27 02:13] dmitry-saritasa opened #213 "Inconsistent numbering?"
**see number 50, but I could not get it by using number 50, had to use 52.**

[code]

[2016-10-27 02:27] dmitry-saritasa opened #214 "Similar repository name with 'c' shortcut"
[code]

as you can see we have 2 'backend' repository. Is there a way to give (like put .scm file inside directory to give it a different name) it a different name?

[2016-10-27 15:49] ghthor commented on #214
I don't use the code manager. Could you reply with how this causes a
problem? Is the behavior consistent if you try to cd to backend? You may
want to talk test this in isolation via a VM env

On Wednesday, October 26, 2016, Dmitry Semenov <notifications@github.com>
wrote:

[2016-10-27 20:09] dmitry-saritasa commented on #214
the problem is how to get to 2nd backend?
**c backend** routes you to first element ~/code/anyevent/backend

however It would be nice if I can place a local file in ~/code/anyevent/backend/.scmbreeze with just single line
'anyevent' that should be used during scmbreeze indexing

[2016-10-27 21:53] ghthor commented on #214
Well it's good that's it's consistent. I'll dig into the code to see if I
come up with any other ideas. I'd rather have it be smarter then have to
add a dot file into repository root, but maybe that will be a simple
solution :)

On Thursday, October 27, 2016, Dmitry Semenov <notifications@github.com>
wrote:

[2016-10-28 01:17] dmitry-saritasa commented on #214
by the way pyenv uses such approach after calling **pyenv local <environment>** - it will place dot file in the root to activate virtualenv automatically. I find it elegant and not obtrusive.

[2016-11-01 08:04] baumhoto commented on #212
seems to be related to the `git_log_stat_alias` . if you go to your `~/.git.scmbrc` and change the alias from `gls`  to something else e.g. `glsa` then it works again. `git_log_stat_alias="glsa"`
Maybe someone can verify this?

[2016-11-01 12:04] gaiottino commented on #212
@baumhoto that seems to have solved the issue. Thanks.

[2016-11-01 12:16] iacobson commented on #212
@baumhoto it works, thanks!

[2016-11-01 12:16] #212 closed

[2016-12-01 09:59] hammady commented on #205
Just came across this issue through a google search.
The `search -i` on Mac differs from the Linux counterpart as it requires a mandatory parameter (backup extension), this is what you need to do in `.scm_breeze/uninstall.sh`:
instead of:
`sed -i '/scm_breeze/d' "$HOME/.$rc"`
do:
`sed -i '' '/scm_breeze/d' "$HOME/.$rc"`

Someone needs to send a pull request for this.
Sorry I'm just a passer-by :)

[2016-12-01 22:17] ghthor commented on #205
Oh good, I'll get too this soon! Thanks! =)

On Thu, Dec 1, 2016 at 9:59 AM, Hossam Hammady <notifications@github.com>
wrote:

[2016-12-02 22:30] tjlevine opened #217 "Switching to git index doesn't mantain $OLDPWD correctly"
When I switch to my projects directory with the 's' (by default it is aliased to 'c', but it's overwritten to be the old default 's' in my installs, check your git_index_alias), my $OLDPWD is overwritten, so cd - does not work as expected. The easiest way for me to show this is with an example:

[code]

Here I'm in the kafka subdirectory, I want to change to my projects directory and then go back

[2016-12-08 14:51] kholbekj commented on #181
@ghthor Did this stall? Is there anything can be done to help?

[2016-12-15 00:37] ghthor commented on #181
I haven't ever used the fish shell. Does scmpuff support the fish shell? I'd recommend using scmpuff if it does.

Otherwise we're going to need an effort from fish shell wizards to bring support.

[2017-01-15 12:36] shinriyo commented on #181
thank you I change scmpuff

[2017-01-21 16:44] vise890 opened #219 "install script messes with my `.zshrc`"
I'd rather have the modification of `.bashrc`/`.zshrc` left to the user rather than the magical `install.sh` (and the added complexity of checking if the string is already present). Any thoughts?

[2017-01-21 16:47] vise890 opened #220 "design folder should be split out from main repo"
The design directory problem seems orthogonal to the git shortcuts that are the main functionality. There are also other (perhaps better?) solution to handle binary files in git (e.g. [`git-annex`](https://github.com/joeyh/git-annex).

[2017-01-21 16:49] vise890 opened #221 "hg / svn / bzr are cruft that hasn't been touched in years"
... if people really want them, perhaps they could be re-added later?

[2017-01-21 16:54] vise890 commented on #219
it also messes with my `.bashrc` / `.bash_profile` . Sneakily!

[2017-01-24 03:57] chrisfinazzo opened #222 "Homebrew"
If this is still being maintained, I would like to package it for Homebrew. Can someone please put a version number on this so that Homebrew can pull it?

[2017-01-26 21:25] ghthor commented on #219
I agree, we should cut it out and provide it as a separate script.

[2017-01-26 23:29] shinriyo commented on #181
@ghthor it can't work in fish shell. so, finally I stated to develop.
https://github.com/shinriyo/breeze

[2017-01-27 13:01] vise890 commented on #219
So would these be acceptable installation instructions?
[code]
I'd be in favour of skipping the install script entirely, just use the current aliases as defaults; then we could just have:
[code]
No magic!

[2017-01-27 13:02] vise890 commented on #220
it also requires the `~/.scmbrc` file in the home dir, which for non users is just clutter.

[2017-01-27 13:19] vise890 opened #224 "README is very verbose"
Installation instructions are at the bottom, after a bunch of other stuff that I have never actually read.

IMO, it should be somehting like:
* logo! ( 😄 )
* brief description
* table of contents
* install instructions
* usage (cheatsheet!)
* the other stuff

some examples that I find more legible are:
* [https://github.com/sindresorhus/pageres](https://github.com/sindresorhus/pageres)
* [https://

[2017-01-27 16:32] jeffbyrnes commented on #220
@vise890 I’d be in favor of just dropping the feature.

[2017-01-27 16:43] ghthor commented on #224
Prune it!

[2017-01-27 20:57] vise890 opened #226 "start travis builds"
I've updated the travis link to point to this repo in #225.

Someone with access to the organization should create that pipeline on travis.

[2017-01-27 20:58] vise890 commented on #224
I had a first stab at this in #225

[2017-01-27 21:20] vise890 commented on #220
@jeffbyrnes I'd love to do that as well. But how do we do about doing these sort of things. Do we need to maintain backwards compatibility? Is there a way to figure out how many people are actually using the feature?

[2017-01-27 21:25] vise890 opened #228 "Gif demo is noisy"
I think using shorter names for files / directories and a less noisy prompt could make the GIF demo more effective.

It is after all the first thing people see and, as it is now, it feels a bit overwhelming.

[2017-01-30 14:55] jeffbyrnes commented on #220
@vise890 no way to determine who’s using the feature, short of just removing it & seeing who complains, AFAIK.

I think it’s safe to put a big notice at the top of the README, and go ahead & rip it out. Folks can either make some noise for its return, or fork this repo, if they wish to keep it.

[2017-01-30 15:53] ghthor commented on #220
I vote rip it out. We can tag the last version that includes it and link to that from the readme.

[2017-01-30 19:25] vise890 commented on #220
OK then. Is there any other stuff se want to deprecate? Ive never used the project index stuff...

[2017-01-30 19:31] jeffbyrnes commented on #220
I used to use it, but nowadays, just use Bash’s built-in `$CDPATH`, and give it all the paths that have my projects.

[2017-01-30 19:32] #221 closed

[2017-01-30 19:44] ghthor commented on #226
I'll take a look at this sometime this week, I haven't ever done anything with travis before so I'll have to read some documentation if it isn't immediately straightforward.

[2017-01-30 20:36] ghthor commented on #127
Hmm, this is an interesting bug. I feel like a quick fix would be to remove the HEAD branch of remotes from the output.

[2017-01-30 21:59] jeffbyrnes commented on #226
Happy to help; I use Travis daily (if not hourly).

[2017-01-31 03:00] vise890 commented on #226
This should be super straightforward. The project is already configured. You just need to go to Travis and create the build, but someone with access to the github repo needs to do it.

[2017-01-31 14:15] vise890 commented on #127
What's the motivation for tokenizing on space rather than newline?

[2017-01-31 20:38] ghthor commented on #127
`[2]  remotes/origin/HEAD -> origin/master` <- This line fucks everything up.

[code]

[2017-01-31 20:39] ghthor commented on #127
`$e2="remotes/origin/HEAD -> origin/master"` doesn't really fix anything either.

[2017-02-06 17:46] vise890 commented on #220
so rip it all out ? what about just ripping out the git and numbering stuff into its own thing and adding it here as a sub-module? that way we don't need to worry about angering anyone and we can just bump the submodule version from time to time here

[2017-02-06 17:51] vise890 commented on #127
ok, what about split on `EOL`s, then strip everything in each element after the first space

[2017-02-06 17:58] vise890 commented on #127
```git branch -a | split "\n" | map "split \"\\s\" | first "```

[2017-02-06 18:37] ghthor commented on #220
Yeah, that could work. Calling the git+numbering repo scmgust or something?

On Mon, Feb 6, 2017 at 12:46 PM, Martino Visintin <notifications@github.com>
wrote:

[2017-02-06 18:46] jeffbyrnes commented on #220
Ehh, I’d argue that the git + numbering stuff are the main feature here. If somebody is automatically upgrading their clone of SCM Breeze, they’ll come here & complain, it’s true. But I’d rather that, and we politely encourage them to fork an older commit to keep it, than confuse things with another repo/project.

[2017-02-06 21:31] vise890 commented on #220
right. so i think the 3 of us agree; git+numbering is the main thing we use. The two options are:

1. strip `scm_breeze` down to it
2. split it out into other project

@ghthor should we ask the original author for their input?

[2017-02-06 21:37] ndbroadbent commented on #220
Hi, i'm happy to just remove it, I don't use it any more either :)

[2017-02-06 22:23] ghthor commented on #127
Ok, that handles the HEAD case, but what about the first case in this PR

[code]

The, first word solution, would leave `$e1=(detached`. =/

[2017-02-07 00:06] vise890 commented on #127
ok but we're making progress. at least it won't offset everything else.

so my git (2.11.1) gives this output when in a detached head state:
[code]
i propose this new algorithm in pseudo-bash then:

[code]

[2017-02-07 13:58] ghthor commented on #127
That works and we've fixed broken functionality; But we lose information in the UI.

[code]
We now has lost indication that we're in a detached head pointing at b1a6ae6, and we've also lost that remotes/origin/HEAD points to origin/master. After thinking about this, I think the UI should be as informative as possible, even if that means that executing `gco 3` isn't functional. That is a separate i

[2017-02-07 14:08] #127 closed

[2017-02-07 14:10] ghthor commented on #127
Just to clarify. I'd like to add support to git checkout for strings such as `(HEAD detached at b1a6ae6)` and `remotes/origin/HEAD -> origin/master` to just do the right thing.

[2017-02-07 23:33] vise890 commented on #127
so .. the number you show in `[]` can be done by splitting on new lines; the values of the `eX` env vars can be done with the fancier algo

[2017-02-07 23:41] ghthor commented on #127
Yes, you are right! It didn't even dawn on me, but I was reading through
that code thinking, we call git branch twice, shouldn't we be caching that
value...? :thumbsup: You want to move forward with it or shall I?

On Feb 7, 2017 6:33 PM, "Martino Visintin" <notifications@github.com> wrote:

[2017-02-07 23:48] vise890 opened #233 "Git status output broken"
How it should look
[code]

How it looks now:
[code]

`git bisect` indicates that the first bad commit was `23e99709daf5c35b755841dd6457913c26839739` which was recently merged

[2017-02-07 23:53] vise890 commented on #127
can we just re-open this issue for now? it's a bit meatier than other stuff and i feel a bit uncomf moving forward without having some really kickass testing  and travis

[2017-02-08 00:01] ghthor commented on #127
Sure, that's fine. Sorry for moving forward with merging before waiting for
your response.

On Feb 7, 2017 6:53 PM, "Martino Visintin" <notifications@github.com> wrote:

[2017-02-08 06:30] ndbroadbent commented on #233
Hi, I think that was intentional. It's just meant to be a tip to show that environment variables are available for the different numbers.

It's not too important though, would be happy to remove that

[2017-02-08 09:19] vise890 commented on #233
Hmm I'm confused. The tip makes sense when there are actually files staged or untracked or whatever. But in this case there aren't and the message `No changes (working directory clean)` is gone.

[2017-02-12 20:45] #226 closed

[2017-02-12 20:46] vise890 commented on #226
they are alive!

[2017-02-12 20:48] vise890 commented on #224
should we close this? I feel it'll be ok, especially after we take out the stuff on the design directory and the repo index as per #220

[2017-02-12 20:49] vise890 commented on #220
ok so to recap, we're happy to remove the "design folder" and "repo index" stuff from the main repo, yes?

[2017-02-12 20:49] vise890 commented on #219
@g5pw you know you want to do this.

[2017-02-12 20:51] vise890 commented on #233
@ghthor so what should we do? i'm a bit unhappy with the new output, i liked to see "working dir clean".

[2017-02-13 00:29] ghthor commented on #233
I'd like to bring back the old output, I haven't looked at the commit you
referenced yet

On Feb 12, 2017 3:51 PM, "Martino Visintin" <notifications@github.com>
wrote:

@ghthor <https://github.com/ghthor> so what should we do? i'm a bit unhappy
with the new output, i liked to see "working dir clean".

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on Gi

[2017-02-13 15:40] jeffbyrnes commented on #224
@vise890 yeah, I think we can organically tackle this as we clean up this repo.

[2017-02-13 16:28] #224 closed

[2017-02-13 21:25] g5pw commented on #219
I was summoned :D what should I do? PR to update the README? I'm also in favor of killing `install.sh`.

[2017-02-14 19:23] vise890 commented on #219
so .. yes, however i still think we should copy over the `*.scmbrc` files (as per https://github.com/scmbreeze/scm_breeze/blob/master/install.sh#L32)

[2017-02-14 19:29] vise890 opened #235 "`.git.scmbrc` shoulud not be needed if using default aliases"
The built in aliases are great so I never had the need touch my `~/.git.scmbrc`
I'm not against having one, but could we not just:
[code]
?
this, together with #219 would remove the need for an `install.sh` script entirely

[2017-02-15 08:51] g5pw commented on #235
Yeah, that seems more sensible to me. We could even do
[code]

so one can have a compact `.git.scmbrc` by setting just the values that deviate from the defaults.

[2017-02-15 11:36] vise890 commented on #235
yea, the only downside to loading the built in regardless is that someone may not want some aliases? Is that a problem?

[2017-02-15 14:14] ghthor commented on #235
Yeah, it should be either or, not one over the other.

On Wed, Feb 15, 2017 at 6:36 AM, Martino Visintin <notifications@github.com>
wrote:

[2017-04-18 18:48] tjlevine commented on #217
I figured out this is actually caused by an unrelated issue in autoenv: https://github.com/kennethreitz/autoenv/issues/141

[2017-04-18 18:48] #217 closed

[2017-04-28 15:12] omnikron opened #237 "Maintenance"
@ndbroadbent just saw your request for maintainers – I would be more than happy to help out, I've been using scm_breeze every day for years and it is an integral part of my workflow. I'm more of a rubyist than a bash scripter but let me know if there's anything you would like to try delegating.

[2017-04-28 15:30] ndbroadbent commented on #237
Thanks @omnikron! I actually haven't worked on this for a very long time, although I'm still using it every day. @ghthor has been helping out and doing a great job. So I'm not sure if there's anything specific that needs to be done, but you're more than welcome to help reviewing some pull requests or looking at issues!

[2017-04-28 15:34] omnikron commented on #237
Alright, sweet! I will take a look (after the weekend :bowtie: ).  Thanks for making this, it is the best thing. Have a good one!

[2017-04-28 15:34] #237 closed

[2017-05-02 22:41] ghthor commented on #237
@omnikron Hey! Thanks for your interest. The main focus from support has been to cut out some of the unused features and do what we can to simplify the codebase remaining.

[2017-05-03 10:52] omnikron commented on #237
@ghthor hello! OK cool – I had a look through the issues and PRs but realised that I'm really not very conversant with bash scripting, so I may not be very useful, but I can have a go! When you say unused features – how do we know what is used and what isn't?

[2017-05-03 15:03] ghthor commented on #237
@omnikron Here's some things you could do =)

1. https://github.com/scmbreeze/scm_breeze/issues/220 This was the main idea about pruning the functionality. This feature isn't widely used and would be better if it was provided as a separate project.

2. We did a pretty good job of triage'ing the open issues/PRs list a few months ago, but this is something that could always use another pair of eyes.

[2017-05-04 09:16] omnikron commented on #237
Thanks @ghthor! I'll take a look.

[2017-05-04 14:43] jeffbyrnes commented on #237
I’m also a longtime user, and have been trying to help where I can. My bash-fu is pretty decent, I’m pretty strong with Ruby, and I’ve chimed in on #220 previously.

[2017-05-04 14:44] jeffbyrnes commented on #220
In case it was unclear from my reaction, I’m all-in on removing the design folder & repo index features.

[2017-05-06 13:49] brb3 opened #238 "Help with Maintenance"
Hey @ndbroadbent -- it seems that this repository is starting to show its age.

I would be very interested in helping with maintenance. It seems that there are 2 or 3 PRs that are ready to merge, and another 2 (at least) that need minor work to get merged in.

If you'd like help, please let me know. I use this project daily, and would hate to see developers lose interest.

[2017-05-06 14:40] ghthor commented on #238
@brb3 ndbroadbent doesn't maintain the project anymore. I'd love your help! Don't hesitate to dig in, do that minor work or point me to the PR's that are ready to merge. ^-^

[2017-05-06 14:41] brb3 commented on #238
@ghthor Understood. I'll dig in this afternoon.

[2017-06-20 16:18] greysonp commented on #208
I'm assuming this is the same issue I'm having. When I run ```gs``` for the enhanced ```git status``` output, the command never finishes. It prints out a portion of the output, then gets stuck.

Reverting to b6531e8 (the parent commit of 0d80de3 mentioned in the original comment) fixes this.

Using zsh 5.3.1 (x86_64-unknown-linux-gnu) on Antergos (Arch Linux).

[2017-09-06 22:55] lifehackett opened #239 "shell commands don't work"
Hi, love this lib so thank you for creating it. I have used it for a while, though was on an older version. I don't recall the shell aliases being there before, but perhaps they were always there working seamlessly.

My setup
`zsh`
`prezto`
`tmux`

(Note: running inside a tmux session vs not did not make a difference)

After installing `scm_breeze` on a new laptop shell commands stopped working an

[2017-09-06 23:29] MichaelDimmitt commented on #239
@lifehackett, any additional details about your environment would be helpful for recreating the issue, Operating System? Current OS Version/Update? Hardware Specifications.

[2017-09-06 23:33] lifehackett commented on #239
@MichaelDimmitt original post updated with that info (to keep it consolidated)

[2017-09-07 02:56] lifehackett commented on #239
@MichaelDimmitt Did a fresh install and turned off shell commands and it seems to be working. Not sure what the difference is as I both sourced `~/.zshrc` and restarted iTerm last time after making the config update.

Anyhow, wanted to post the update and will close the issue.

[2017-09-07 02:56] #239 closed

[2017-09-08 00:42] MichaelDimmitt commented on #222
@chrisfinazzo, looks like they have posted a release v1.0.0 in 2012.

[2017-09-11 15:20] ghthor commented on #222
Yeah, this has been on my TODO list for far too long, to cut a new release. I don't feel like the current state of the project is ready to be a brew package, I can mark a new release at any rate to support this is need be. I'm Looking for guidance from any current users that might be active here.

[2017-09-11 17:10] chrisfinazzo commented on #222
@ghthor I have a version of `uninstall.sh` that fleshes out this command a bit more - separate paths for GNU and Darwin, that sort of thing. I haven't touched it in a while though I'd need to refresh my memory about where things were when I left it. My thinking was that this could be a 1.1 or something like that.

Nothing urgent, it just seemed like a useful tool that would be easy for Homebrew to

[2017-09-11 17:10] #222 closed

[2017-09-12 15:42] ghthor commented on #222
@chrisfinazzo That's great. When you submit a PR I'll pull and mark a new release for 1.1 so we can pack this up in Homebrew! Thanks for your patience and the work you've done

[2017-10-09 16:47] danjuggles opened #240 "Having some issues getting up and running"
## Problem
When I run any of the scm_breeze commands I am getting strange functionality..

Any help would be greatly appreciated, as I am very keen to get this working 😄

### Command: `gs`
Note: `git status` works normally

[code]

### Command: `gb` or `git branch`

[code]

## Environment:

### OS:
OS Name:                   Microsoft Windows 10 Pro
OS Version:                10.0.14393 N/A Build

[2017-10-09 16:50] danjuggles commented on #240
I have this line in my `.bash_profilfe`

 `[ -s "/c/Users/dan.evans/.scm_breeze/scm_breeze.sh" ] && source "/c/Users/dan.evans/.scm_breeze/scm_breeze.sh" `

[2017-10-10 14:06] ghthor commented on #240
What version of ruby do you have installed?

[2017-10-11 02:01] tekumara opened #241 "Git status output hangs after "changes to be committed""
On both zsh and bash I get:

[code]
And the output just hangs.

It's something specific to a repo, because other repos work fine.

[2017-10-11 03:22] omnikron commented on #241
What is the output of `git status` – any weirdness?

[2017-10-11 04:20] tukushan commented on #241
`git status` had nothing out of the ordinary, 2 changes not staged for commit, 2 untracked files.

I'm since made some additional commits, and now the problem has gone away.

[2017-10-11 14:19] danjuggles commented on #240
[code]

[2017-10-12 12:32] ghthor commented on #240
Alright, I'm checking if that version of ruby breaks my local installation, caveat I'm on OSX.
Which version of `git` do you have installed?

[2017-10-12 12:37] ghthor commented on #240
Could you try this changeset to see if this fixes the issue with `gb`? https://github.com/scmbreeze/scm_breeze/pull/232/files

[2017-10-17 23:15] tukushan commented on #241
Now it's back. It appears to occur with there is a change to a large file. In my case I made a single character addition to a 2.5MB CSV, which caused `gs` to freeze but `git status` works fine.

[2017-10-17 23:24] ghthor commented on #241
Interesting, I'll try to reproduce in the morning. Thanks for this bug
report!

On Oct 17, 2017 7:15 PM, "Oliver Mannion" <notifications@github.com> wrote:

[2017-10-23 07:34] danjuggles commented on #240
Thank you very much @ghthor! I have made the changes as per your link, and now scm_breeze seems to be working, I very much appreciate the help

[2017-10-23 14:24] ghthor commented on #240
Fixed by #232 which still needs to be incorporated properly into mainline. Thanks @danjuggles for juggling this around!

[2017-10-23 14:24] #240 closed

[2017-10-30 22:30] wcpines commented on #238
This issue can probably be closed, yes? :P

[2017-10-31 18:39] #238 closed

[2017-11-17 22:47] ryanhinton opened #242 "Issue after installing scm_breeze"
Hello,

I have been using scm_breeze for a few months now without issues until I installed it on a new machine today.  After installation, I keep getting the following notification when using shortcut `gs`: "There were more than 150 changed files. SCM Breeze has fallen back to standard `git status` for performance reasons."  I looked up any issues related to this and found a way to increase the nu

[2017-11-17 23:16] ryanhinton commented on #242
i uninstalled Ruby, then restarted the MINGW64 and all of the errors went away.  I would love to be able to have Ruby installed so that scm_breeze runs faster, so I am still in need of figuring out the problem.  For the time being, I will leave it this way until I hear from anyone on this matter.

Thank you!
Ryan

[2017-11-28 06:38] thenovices opened #243 "Support for `git diff --stat`?"
Awesome project! Just wondering whether there is support for `git diff --stat` and if not, whether it would be easy to add?

[2017-11-28 14:51] ghthor commented on #243
It shouldn't be too hard. If you have scm_breeze installed you can type `git_aliases` into your terminal and it will print out all the bound aliases. I don't see `gds` taken, or and entry for `git diff --stat` in the print out. If you look through the existing aliases for a command with similar inputs & outputs you could use that as a model to implement an alias for `gds`.

[2018-01-05 11:38] bestswifter opened #244 "Can I disable alias provided scm_breeze"
The numbered file list is very helpful but I have defined my own alias before.

Can I just disable all alias provided by scm_breeze?

[2018-01-16 02:00] sudocurse commented on #202
bump. Experiencing this too (probably because my mv is setup as an alias to ```mv -i```?)

[2018-01-24 03:38] ghthor commented on #202
@sudocurse @grota I'm looking at this now.

I think perhaps we need to dig deeper, the bug might be in this nasty looking function.

[code]

Also, I'm not entirely sure what this piped `sed -e "s/\([][|;()<>^ \"']\)/"'\\\1/g'` command is doing exactly? I wouldn't mind if we could determine what it's doing to extract it and name it as a func to help document the intention here.

[2018-01-24 03:40] ghthor commented on #244
What would you be using scm_breeze for if not for the numbered aliases? You can disable many of them from within you `$HOME/.git.scmbrc` file.

[2018-01-24 03:40] #244 closed

[2018-01-24 03:43] ghthor commented on #242
Would you mind trying this again and letting me know which versions of ruby are being used? If you find this same bug, open a new issue for ruby X.X.X version compatibility.
Thanks!

[2018-01-24 03:43] #242 closed

[2018-01-24 04:05] ghthor commented on #213
Related to #128 I think.

[2018-01-24 04:05] #213 closed

[2018-02-08 16:42] sarbull commented on #242
This will work on Windows 7 if you change in file `.scm_breeze/lib/git/status_shortcuts.rb#24` from:

[code]
to
[code]

Works flawlessly on Windows 7.

![image](https://user-images.githubusercontent.com/1864112/35985634-c0797492-0cff-11e8-8af2-59447c5568bd.png)

[2018-05-07 22:35] johnyoonh opened #247 "Shortcut for cd to project_root?"
variable `project_root` is defined in the code, but it seems to be only use for internal purposes. Would it possible to expose this variable for the users to use, or at least have a command to `cd`  to project root directory? I use `go` personally. It's a simple thing, but I thought other people would find it useful too.

[2018-05-08 08:33] omnikron commented on #247
@johnyoonh this is already built into scm_breeze as [`git_index`](https://github.com/scmbreeze/scm_breeze/blob/67458229530e66b0223ffeb99e55e3a44c64b77f/lib/git/repo_index.sh). This is aliased to `c` (as in `c my_git_project` to change project or `c --rebuild` to reindex).

[2018-05-08 17:39] johnyoonh commented on #247
The command only works for projects that is under a designated directory. I suppose a lot of people will end up in a situation where that is not the case. Even if that was the case, I think being able to go the root git directory without specifying the name will be helpful.

[2018-05-15 02:44] ScottZg opened #248 "SCM Breeze must be loaded after RVM, otherwise there will be a conflict when RVM wraps the 'cd' command."
SCM Breeze must be loaded after RVM, otherwise there will be a conflict when RVM wraps the 'cd' command.
Please move the line that loads SCM Breeze to the bottom of your ~/.bashrc
SCM Breeze must be loaded after RVM, otherwise there will be a conflict when RVM wraps the 'cd' command.
Please move the line that loads SCM Breeze to the bottom of your ~/.bashrc

when i run my item,there is a error sho

[2018-05-15 08:05] omnikron commented on #248
@ScottZg what is the error?

[2018-05-15 18:02] ghthor commented on #248
Does the conflict go away when you remove `cd` from the commands wrapped by scm_breeze?

[2018-05-16 02:52] ScottZg commented on #248
@omnikron
![snip20180516_1](https://user-images.githubusercontent.com/12471502/40093982-26de3e78-58f7-11e8-8c6d-7d1f69cee586.png)

[2018-05-18 12:09] zhangferry commented on #248
I have encountered the same problem,how can I solve it?

[2018-05-28 12:46] ghthor commented on #241
I repro this in a repo with lots of submodules. @tukushan was your repo using submodules at all?

[2018-05-29 22:54] tukushan commented on #241
No submodules for me.

[2018-06-27 09:41] XAmateur commented on #248
@ghthor how can I remove **cd** from the commands wrapped by scm_breeze? Cloud u pls give us some tips?

[2018-06-27 17:09] ghthor commented on #248
You need to edit your `git.scmbrc` settings file. See: https://github.com/scmbreeze/scm_breeze/blob/master/git.scmbrc.example#L124

[2018-06-28 07:01] ScottZg commented on #248
@ghthor  edit what?

[2018-07-05 16:46] ghthor commented on #241
I've seen this again in a repo without any submodules. Unable to nail this down.

[2018-08-17 05:45] HaleTom opened #250 "Cannot determine sed extended regex argument with `set -o pipefail`"
[code]

I'm running `sed` version:

[code]

[2018-08-17 05:56] ghthor commented on #250
Looks like these tests[1] fail their job if `pipefail` is activated. Don't know what exactly to do about it =/

[1] https://github.com/scmbreeze/scm_breeze/blob/master/lib/git/shell_shortcuts.sh#L13

[2018-08-17 06:04] #250 closed

[2018-08-18 07:28] HaleTom opened #252 "Remove -- from end of aliases"
The following aliases have `--` at the end of them:

[code]

This prevents (for example) using `grs --soft` as the `--` prevents any more command line options following it.

[2018-08-23 10:45] HaleTom opened #254 "exec_scmb_expand_args ls_with_file_shortcuts doesn't set $e1 variable when output is piped"
`exec_scmb_expand_args ls_with_file_shortcuts` doesn't set `$e`\<number\> variables when the command's output is piped:

[code]

My use case for this is:
[code]
This uses the [Generic Colouriser `grc`](https://github.com/garabik/grc/) to colour the output of `ll`.

[2018-08-23 10:55] HaleTom commented on #204
The `mv` alias also fails:

[code]

As can be seen above, `/bin/mv` works ok.

[2018-08-24 14:54] #252 closed

[2018-08-24 15:18] ghthor commented on #254
Ok, this is interesting. I do see your use case and I think it's a valid one that we should support.

Could this have something to do with a [subshell dilemma](https://stackoverflow.com/questions/13726764/while-loop-subshell-dilemma-in-bash)?

Also, bit confused here, this might just show my current knowledge distance from scm_breeze's internals, but the following functions as such, sanity check m

[2018-08-24 15:37] HaleTom commented on #204
@ghthor I've already implemented a fix with arrays and built in shell quoting.

Just putting the final touches on it now.

 Ping me if you've not heard in a week.

[2018-08-24 16:26] ghthor commented on #204
Hell yeah! Reminder is set =)

On Fri, Aug 24, 2018 at 11:37 AM Tom Hale <notifications@github.com> wrote:

[2018-08-27 07:57] HaleTom opened #255 "ls -l issues with QUOTING_STYLE=shell-escape"
Here's a standard-looking listing:
[code]

It is displayed correctly by scmbreeze: (note the first character of the file named `backspace` is a backspace so it is one position to the left):
[code]

With `QUOTING_STYLE=shell-escape`:
[code]

Note:
1. With the file `normal`, (the only file without quotes) it's shortcut `[2]` doesn't align.
2. The file `''$'\b''backspace'` is no longer shown correctl

[2018-08-29 12:42] ghthor commented on #255
I've experienced this issue before. Any idea how difficult it is going to be to solve this?

[2018-08-31 10:15] HaleTom commented on #204
Work so far: https://github.com/HaleTom/scm_breeze/tree/quote-filenames

I've made good progress cleaning up a bunch of things. The snag I've hit is that the processing of `ls` output.

I'm currently considering running `ls` twice - once with `QUOTING_STYLE=` unset to have a raw filename output, and once with the user's set value of `QUOTING_STYLE` to display in their preferred way. #255 relates.

[2018-08-31 10:17] HaleTom opened #256 "Running tests leaves scm_breeze.* temp files in /tmp"
As per title.

[2018-08-31 10:19] HaleTom commented on #247
`git rev-parse --show-toplevel` is what you're after.

[2018-08-31 10:26] HaleTom commented on #167
The PR I'm working on for #204 should address this.

[2018-08-31 10:42] ghthor commented on #204
Using `find` as the source of truth for the files seems like it would be the most correct. `ls` already has the requirement that the options come first, aka `ls [OPTION]... [FILE]...` so separating the arguments from the file targets should be straightforward.

Having said that, I'm happy with either. Handling that race condition should be pretty straightforward, just take a union of the the 2 set

[2018-08-31 10:44] ghthor commented on #256
I'm not too concerned about this, but feel free to patch this up if you see fit.

[2018-08-31 10:50] ghthor commented on #247
A standard alias for this is.

[code]

If this was incorporated into scm_breeze I'd add it as a [1] numbered target for some subset of the commands. Don't know which ones, but I could see this being somewhat useful.

@johnyoonh

[2018-08-31 10:50] #247 closed

[2018-08-31 10:57] ghthor commented on #79
This is fixed.

[2018-08-31 10:57] #79 closed

[2018-08-31 11:04] ghthor commented on #200
Related to #84 because it about branches.

[2018-08-31 11:06] ghthor commented on #184
This is easy enough to change on a individual level. I sort of agree, but I'm not going to change a default alias like this without serious consensus from all users.

[2018-08-31 11:06] #184 closed

[2018-08-31 11:07] ghthor commented on #183
@HaleTom Will your #255 fixes help here?

[2018-08-31 11:08] ghthor commented on #182
Still open to having these in a PR. Thanks for sticking around if you're still a user.

[2018-08-31 11:08] #182 closed

[2018-08-31 11:14] ghthor commented on #181
@shinriyo Thanks! Put a link to your project in our README.

[2018-08-31 11:14] #181 closed

[2018-08-31 11:16] ghthor commented on #158
I have no idea what the state of zsh support is. I've only been using bash for the last few years. May just remove references to the zsh support and leave it hidden until someone finds it and wants to maintain it.

[2018-08-31 11:34] #205 closed

[2018-08-31 11:37] g5pw commented on #158
I use `scm_breeze` on ZSH, no problems at all!

[2018-08-31 12:59] ghthor commented on #158
@g5pw That's awesome, do you have to patch anything?

[2018-08-31 13:12] ghthor commented on #158
The zsh tests are passing on linux and osx now. I'm going to close this considering your feedback!

[2018-08-31 13:12] #158 closed

[2018-08-31 14:47] HaleTom commented on #202
I have reworked that function to return an array.

And written a wrapper around eval doing the equivalent of the printf -q.

 That `sed` looked idempotent to me.

The current code is linked from #204.

Could someone write failing tests for this issue?

[2018-08-31 15:05] HaleTom opened #260 "Minimum bash and zsh version requirements"
I'm writing code which may use newer features in both shells.

What is the project's standard for the version of each shell with which we need to be compatible?

[2018-08-31 15:09] HaleTom commented on #256
I've addressed ` test_ls_with_file_shortcuts()` in the fix for #204.

I want to get that out the door first. It's proving to be trickier than I initially thought.

[2018-08-31 15:10] HaleTom commented on #260
In particular, this:

[code]

[2018-08-31 15:31] ghthor commented on #256
Well, we have functioning CI now, so hopefully that makes all this easier +!

[2018-08-31 15:55] ghthor commented on #260
I vote we just set the minimum version to "very-modern", mark any case we know about where were using a feature with it's minimum version requirement and then let anyone that needs support in an older shell work through any of those issues.

TL:DR; Use modern features, especially if they improve security and safety.

[2018-08-31 15:56] ghthor commented on #260
My shell on my work laptop is. I'm pretty sure I can override that with a newer version through homebrew if I need too.

[code]

[2018-08-31 16:45] ndbroadbent opened #261 "Ctrl + x + space is now giving me: " git_commit_all^M""
I just pulled the latest scm_breeze, and the Ctrl + x + space shortcut is now giving me " git_commit_all^M" in the terminal, instead of simulating the enter key. (Using bash.)

Was wondering if something has changed that would affect that?

[2018-08-31 16:46] ndbroadbent commented on #228
Agree, I just removed it! Will think about creating a more effective demo.

[2018-08-31 16:46] #228 closed

[2018-08-31 16:48] ndbroadbent commented on #261
Ah looks like this was in 1f3b8a6b11ab1d60cdbdea56525b4aefee8326a5

[2018-08-31 16:53] ndbroadbent commented on #261
Related to PR: #246

[2018-08-31 16:53] #261 closed

[2018-08-31 20:56] ghthor commented on #261
Sorry about this. I did poor dogfooding on that change because I don't use it. We should revert it until we figure out a better way to support #246's needs

[2018-09-01 05:02] HaleTom commented on #183
@ghthor I hope so...

@onilton can you show how to:

1. Set language to English
1. That it works
1. Set another language
1. That it now fails

[2018-09-01 05:05] HaleTom commented on #202
Ah, this is probably the `&` character backgrounding a task.

My code:
[code]

I have a bug preventing passing tests and will soon make a PR for review.

[2018-09-02 08:35] HaleTom opened #264 "Upgrade Travis CI environment to newer versions of bash and zsh"
As can be seen in [this Travis CI output](https://travis-ci.org/scmbreeze/scm_breeze/builds/423527503?utm_source=github_status&utm_medium=notification) for PR #263: "Fix #167, #202, #204 and a bunch of other goodies", the tests only pass on zsh on MacOS.

However, all tests pass on my Manjaro Linux box.

In [Minimum bash and zsh version requirements #260](https://github.com/scmbreeze/scm_breeze/is

[2018-09-02 10:33] HaleTom commented on #255
@ghthor I believe that fixing this issue without race conditions is not trivial.

Others, please see #204 for some background on this issue before reading further.

[This page](https://www.gnu.org/software/coreutils/manual/html_node/Formatting-the-file-names.html) lists all the possible quoting styles for GNU `ls`.

Note that `--quoting-style=clocale` and `--quoting-style=locale` will both expand

[2018-09-02 12:06] HaleTom commented on #255
For now I propose to prepend `QUOTING_STYLE=literal` to the `ls` call.

This will cause the shortcuts to work except in the case that a user calls `ll` with a `--quoting-style=...`:

[code]

Note the letter `k` is removed in the presentation, but the variable is set correctly:

[code]

@ghthor  @ndbroadbent are you comfortable with this initial approach?

[2018-09-02 17:30] axsuul opened #266 "Git branches sorted by committer date"
I have an issue with lots of branches and sorting by last commit makes everything more sane. But it appears that `--sort=committerdate` is not an argument that scm_breeze recognizes so doing something like

[code]

uses the vanilla `git` command without numbered aliases. What's the best way to go about getting numbered alias support with the `--sort` argument? I've tried

[code]

And thank you for

[2018-09-03 13:53] LeZuse opened #267 "Git status shortcuts broken edge case: moved file"
To reproduce simply move a checked in file from a previous commit and stage it. Git detects a moved file:
[code]

`$e1` now contains invalid filename:
[code]

[2018-09-03 13:59] LeZuse opened #268 "Git status shortcuts broken edge case: filename with spaces"
To reproduce simply create a file with spaces in its name. Git will show this:
[code]

`$e1` now contains invalid filename:
[code]

Related to #267

[2018-09-05 16:29] ghthor commented on #267
I fixing this by reverting for now. We need better test coverage to handle a major change like the refactorization that was merged in #262

[2018-09-05 16:29] ghthor commented on #268
I fixing this by reverting for now. We need better test coverage to handle a major change like the refactorization that was merged in #262

[2018-09-05 16:34] ghthor commented on #264
Alright, can you point me to all the places in #263 that require a modern bash shell? I'd just like to investigate what can be done to support a legacy bash shell. Please don't hate me =( I really appreciate all the work you've put into this and you've reinvigorated me concerning the upkeep of this project.

[2018-09-05 16:35] ghthor commented on #264
Are there any projects that provide polyfills for shell support that we could incorporate? ala the javascript ecosystem.

[2018-09-05 16:36] ghthor commented on #264
If not, I'd be interested in starting a shell polyfill project to provide support like this.

[2018-09-05 17:46] ghthor commented on #266
It would need to be incorporated into the `_scmb_git_branch_shortcuts` function. This might be nice hidden behind an environmental flag, such that your `gb` shortcut either uses it or it doesn't based on the env variable setting.

[2018-09-06 11:48] HaleTom opened #270 "Numbers referring to unset $e variables should not be removed"
`git` allows referring to a commit by the first 4 hex digits.

When these 4 digits are numbers, `exec_scmb_expand_args` will remove them.

[code]

Also, null strings should not be removed:

[code]

[2018-09-06 12:38] ghthor commented on #270
I think we can put a max on total enumerated shortcuts to 999 safely
enabling `exec_scmb_expand_args` to safely ignore any base-10 number with
digits.count > 3

On Thu, Sep 6, 2018 at 7:49 AM Tom Hale <notifications@github.com> wrote:

[2018-09-08 17:09] edwardhorsford opened #271 "Blog post referenced in project summary is 404"
This repo points to https://madebynathan.com/2011/10/18/git-shortcuts-like-youve-never-seen-before/ which 404s.

[2018-09-10 15:04] sethwoodworth opened #272 "Support XDG_CONFIG_HOME directory layout on Linux"
In linux, applications should follow the freedesktop standard, install user applications in XDG_DATA_HOME `~/.local/share/` and config files where specified by the XDG_CONFIG_HOME variable, usually defaulting to `~/.config/`.

I installed scm_breeze and had to modify only three files to use XDG_DATA_HOME/XDG_CONFIG_HOME directories.

[Standard](https://developer.gnome.org/basedir-spec/#variables)

[2018-09-10 21:35] ghthor commented on #272
Yeah, let's see it!

[2018-09-11 09:15] ghthor commented on #260
Wouldn't mind leaving a nasty warning messaging in there when your shell is old enough to lack this support. You version selection decision seems solid to me.

[2018-09-11 09:17] ghthor commented on #260
Also, I'm sorry this has taken longer then maybe you were expecting. I am seriously excited and very thankful to have your contributions.

[2018-09-11 09:28] ghthor commented on #255
This seems alright to me. Do we have any test cases for this committed? Don't feel that you have to make them in addition to these upgrades. I sort of need to explore this entire space of QUOTING_STYLE and what it means.

I'm somewhat concerned about this now that you've brought it all forward and I'd like to use this as a platform to teach and push people into more and more modern shell versions(

[2018-09-11 09:36] ghthor commented on #202
For anyone interested in what the hell that sed command was doing, thanks to wizard @schuess.

[2018-09-12 02:48] axsuul commented on #266
@ghthor Happy to make a PR for this. Any suggestions on what the environment flag should be?

`SCM_BREEZE_FORCE_GIT_BRANCH`?

[2018-09-14 08:19] HaleTom opened #274 "$e# variables are set incorrectly with `ll dir1 dir2`"
[code]

[2018-09-14 11:12] HaleTom opened #275 "ll $e# incorrectly points to target of a symlink"
This would be dangerous in the case where one expects to be deleting the symlink, but deletes the actual file.

[code]

[2018-09-16 08:03] HaleTom opened #276 "Don't set environment variable $shell"
Setting `shell=bash` or  `shell=zsh` pollutes the environment and may conflict with something else which expects `BASH`  or `ZSH`.

[2018-09-17 07:28] HaleTom commented on #260
I'm now getting 3/4 green on Travis CI.

The limiting factor is actually `zsh` on Ubuntu 1**4**.04, which is supported until April 2019.

I'll edit my "declaration" above.

[2018-09-17 07:32] HaleTom commented on #260
@ghthor While the versions of shells on Ubuntu 14.04 are sufficient, the aren't necessarily minimal, so I'd prefer to avoid an incorrect error message.

[2018-09-17 07:32] #260 closed

[2018-09-17 15:30] ghthor commented on #260
Between this an the nightmare of shell I take care of at work I really like the idea of building a polyfill library for shell, ala the javascript(or older project) style. Come to think of it JS runtimes and Shell runtimes kind of share a similar type of problem. Both can have wildly different support and settings from system to system.

[2018-09-18 10:26] HaleTom commented on #260
I don't know if there would be a way to ensure that you don't do:
[code]
via a library.

It's just a thing that zsh 5.0.2 requires:
[code]

Even `shellcheck` won't point this out as it's zsh specific.  Having said that, shellcheck is *highly* recommended for everything else :)

(This took 24 travis builds to work out!)

[2018-09-19 04:55] HaleTom commented on #264
@ghthor see 48302bc and 80ec1ad for version work-arounds.

No need to upgrade yet: #260 agrees with the Linux Travis CI environment currently selected: Trusty Tahr 14.04.

I'd suggest an upgrade to Ubuntu 16.04 after 14.04 support ends April 2019.

[2018-09-19 04:55] #264 closed

[2018-09-19 05:55] HaleTom commented on #167
Please check #263 and confirm if this is resolved.

[2018-09-19 05:55] HaleTom commented on #202
Please check #263 and confirm if this is resolved.

[2018-09-19 05:55] HaleTom commented on #204
Please check #263 and confirm if this is resolved.

[2018-09-19 08:02] grota commented on #202
I gave a cursory look at the diff of that PR and it looks good. Sorry I can't actually test if that code solves the original issue

[2018-09-22 08:35] HaleTom commented on #268
@ghthor  I believe the offending commit is: 750697e.

In shell variables, the filenames should be literal (without quoting).

The filenames are preserved intact by quoting only at usage time:

[code]

Would you be willing to make a branch without this commit?

[2018-09-22 08:37] HaleTom commented on #268
Oh, I see it's larger than that... Eg #267.

[2018-09-29 12:01] #167 closed

[2018-09-29 12:01] #183 closed

[2018-09-29 12:01] #202 closed

[2018-09-29 12:01] #204 closed

[2018-09-29 12:01] #274 closed

[2018-10-04 12:58] Alkaar opened #277 "gb doesn't work with no arguments"
I tried to rule out other stuff in my .bash_profile and it seems when I add in scm breeze, git branch gives me the following error whether I use `gb` or `git branch`

$ gb
fatal: '' is not a valid branch name.
$

If I remove it and do a normal `git branch` it behaves fine

[2018-10-04 14:47] mannyatico commented on #277
I have the same issue, and I'm using:

MacOS Mojave 10.14
zsh with prezto

[2018-10-05 14:53] nqb opened #278 "Git status output : wrong display of branch with dot(s) in filename"
Steps to reproduce:
[code]
That could lead to errors when you have several `8.X` branches.

[2018-10-08 13:16] tuxinaut commented on #277
It broke for me after updating to the latest version, tracked it down to **PR** #263 - Fix #167, #202, #204, #274 and a bunch of other goodies

[2018-10-09 06:43] HaleTom commented on #270
Related to #84

[2018-10-09 16:10] #277 closed

[2018-10-18 13:50] ghthor commented on #278
Git branch has so many other darn bugs too when handling the different classes of "refs" for remotes and the local repository. It needs to get an overhaul with some new guts. Sorry if this has caused you any major problems.

[2018-10-18 13:53] ghthor commented on #268
Yep, It's still my lack of ruby knowledge that is holding me back from hacking this back out over a weekend.

[2018-10-18 13:54] ghthor commented on #202
@grota Have you updated .scm_breeze since we merged #263 to report back if this is indeed fixed?

[2018-10-18 13:57] ghthor commented on #260
Shfmt enforcement and shellcheck linting are on my end of 2018 timeline for .scm_breeze, going to make this happen.

[2018-10-18 14:05] ghthor commented on #275
Ok. I've just confirmed this is coming from the ll $e# env variables, but not the `gs` $e# variables which makes sense.

[code]

[2018-10-18 14:06] grota commented on #202
I pulled from upstream and I have `rm is aliased to 'exec_scmb_expand_args /bin/rm' ` and yeah, it's all good

[2018-10-18 14:09] ghthor commented on #266
@axsuul How about `GIT_BRANCH_SORT_COMMITER_DATE`, if you find any time to PR this, no judgement, just a little nudge =)

[2018-10-25 06:49] PezCoder opened #282 "Improving the sourcing time ~100ms"
#### What ?
[code]
- The first one's is sourcing without scm_breeze (~200ms)
& the later one's are with scm_breeze (~300ms)

![screenshot 2018-10-25 at 12 14 07 pm](https://user-images.githubusercontent.com/8057916/47480889-7e6eb280-d84f-11e8-93c3-dbf6b3ea7b00.png)

It takes around ~100 ms to source scm_breeze. Is there a way this can be improved further ?

[2018-10-26 13:04] ghthor commented on #282
Yes, I agree. There has to absolutely be a way to speed this up.

[2019-02-12 18:31] p-himik opened #284 "Broken `scmb_wrapped_shell_commands` in ZSH"
Commit a6eeebfa91e51ec7aae21f65e0df49e461a4ca68 breaks `scmb_wrapped_shell_commands` in ZSH. It makes the loop make only one iteration with `cmd` being equal to `scmb_wrapped_shell_commands`.
The workaround is to write `scmb_wrapped_shell_commands` in the config not as a string but as an array.

[2019-02-12 18:32] p-himik opened #285 "URL in the repository summary leads to 404"
Current URL is http://madebynathan.com/2011/10/18/git-shortcuts-like-youve-never-seen-before/
If you follow it, it'll say: "Uh oh! Page not found!"

[2019-02-12 21:04] jeffbyrnes commented on #285
Looks like an “off by one” error, this URL works: https://madebynathan.com/2011/10/19/git-shortcuts-like-youve-never-seen-before/

[2019-02-14 10:38] ghthor commented on #284
I assume that's the workaround you're using personally from you zsh configuration? There's got to be a way to fix the internal code that's functional for zsh+bash. I'm sorry about your zsh issues, I've been meaning to run zsh personally and just haven't made the push yet.

[2019-02-14 10:39] ghthor commented on #285
Dope! Thanks for the headsup, should be fixed now =)

[2019-02-14 10:39] #285 closed

[2019-02-14 10:43] p-himik commented on #284
Indeed, I just changed my local configuration, only not of zsh but of scm_breeze in `.git.scmbrc`.

[2019-02-14 13:00] ghthor commented on #284
Right, You've change the declaration in `.git.scmbrs` from a space
separated string into a array literal?

I think we can't support that official because array literals are a recent
bash feature? If I'm wrong about this, I blame bash, well I blame bash
anyway. At any rate there is a way to fix this at the usage site and lemme
see if I can hack it together and get it tested today.

On Thu, Feb 14,

[2019-02-14 13:03] p-himik commented on #284
Yep, now it just looks something like `("vim" "rm" "mv")`. Sorry, I have no idea what versions of bash support this feature.

[2019-02-25 15:15] EdvinOlofsson commented on #241
Was this issue ever found? I'm having the same issue.

I can reproduce this with a clean git repo. For me it happens if I 'git mv' a file from one folder to another.
psuedo example:

./repo/folder1/file1.txt
./repo/folder2/file2.txt
cd repo
git mv folder1/file1.txt folder2/
gs <-- hangs exactly like shown above.

I'm on Ubuntu 18.04.2

[2019-03-05 08:34] HaleTom commented on #284
In #260 we established minimum shell versions:

[code]

Both of these support arrays.

There's a `zsh` gotcha mentioned in #260 also, which may or may not be relevant.

To enable proper quoting, arrays are sometimes required (see my largish PR for instance), eg if one argument token contains spaces for instance.

I see this as a documentation bug rather than a code bug.

[2019-03-05 08:35] HaleTom commented on #276
Thinking about this holistically, we should probably do `set > pre` before loading SCMB, then `set > after` and diff the two files for any other temporary environment variables set but not unset.

[2019-03-05 08:56] HaleTom opened #287 "Project coding standards"
Dear fellow maintainers,

You may remember me as the guy who dropped a significant PR a few months ago.

After fixing many quoting issues, I saw someone (I believe it was the original author, but could be wrong) making some commits with introduced another one or two of the same class of bug that I'd just spend a long time fixing.

(Please **always** quote `$@` unless you have an explicit reason no

[2019-03-12 23:27] jeffbyrnes commented on #287
@HaleTom I’m a big fan of `spellcheck`, and I’d be on board with adhering to it, with specific carveouts being exactly that: clearly commented, per-exception carveouts (which I think it allows? I’m assuming that based on the behavior of other linters).

[2019-03-13 09:02] HaleTom commented on #287
@jeffbyrnes Great work on #288.

Yes, "Shaddup, I know what I'm doing" is definitely supported by `shellcheck`.

[2019-05-16 17:31] #241 closed

[2019-05-16 18:40] dump247 commented on #208
This is resolved in #289

[2019-05-20 04:41] ryanhinton opened #290 "When using `gs` shortcut, the fallback standard `git status` is always used"
Hello, I'm now having to use Ruby and I noticed my previous ticket #242 solution was to uninstall Ruby.  I am re-opening this issue for the ruby 2.6.3p62 version compatibility.

I also read the comment in #242 at the end, so I will try it now as well in hopes that it might be as simple as it looks.

**The following is the current issue:**

Whenever I attempt to run `gs` in bash, I always receive t

[2019-05-20 04:50] ryanhinton commented on #242
@sarbull Your solution to this problem worked perfectly!  I needed to install Ruby and ran into this issue again, but this time I cannot uninstall Ruby.  Thank you so much for sharing your solution!  :-)

[2019-06-21 08:49] ilai-deutel opened #291 "scm_breeze added to Arch User Repository"
Hi,

Firstly, thank you for these useful scripts! I have added SCM Breeze to the AUR (Arch Linux user package repository). The new package is available [here](https://aur.archlinux.org/packages/scm_breeze-git/).

The scripts and libraries are available system-wide in `/usr/share/scm_breeze` and `/usr/lib/scm_breeze`, but each user who wishes to use scm_breeze has to run `install-scm-breeze` (which

[2019-07-11 15:17] ghthor commented on #291
This is great, thanks for adding this into the AUR =)

[2019-08-18 18:42] ryanhinton commented on #248
It seems as though this problem is still existing over a year later.  I just ran into this error and the weird thing is that I commented out the RVM in the .bashrc file and the error still shows up, which is perplexing.  Is there another place in which this error is happening maybe?

[2019-08-20 16:30] ghthor commented on #248
That is perplexing. Perhaps the RVM lines are still lingering in shell configuration because exiting and starting up the terminal isn't completely re-applying the bashrc somehow?

@ryanhinton What OS are you on?

[2019-08-20 16:35] ghthor commented on #248
@ryanhinton Ok, I figured this out. The [RVM check](https://github.com/scmbreeze/scm_breeze/blob/master/lib/git/shell_shortcuts.sh#L31) complains if `$HOME/.rvm` exists but the `type rvm` doesn't exist and assumes that means that the RVM hasn't been initialized yet.

So if you remove the RVM lines and `$HOME/.rvm` exists this error message will print. The solution is to make sure the ordering of R

[2019-08-20 16:41] ghthor commented on #248
@ScottZg @ryanhinton Perhaps you need to complete the [RVM installation guide](https://rvm.io/rvm/install#installation-explained), such that your `.bashrc` contains the following?

[code]

That might fulfill the contract expected by the [RVM Check](https://github.com/scmbreeze/scm_breeze/blob/master/lib/git/shell_shortcuts.sh#L31) that states some `type rvm` will exist in the shell environment.

[2019-08-20 16:47] ghthor commented on #290
Maybe this is because of RVM? I'm running

[code]

And I cannot reproduce this issue.

[2019-08-21 11:04] goostleek commented on #290
I got the same after installing ruby.

[code]
[code]
$ ruby --version
ruby 2.6.3p62 (2019-04-16 revision 67580) [x64-mingw32]
[code]

[2019-08-22 14:24] ghthor commented on #242
Ok, this must be some type of OS cross-compatibility issue. At first glance the following line looks distinctly UNIX and removing the use of the stderr redirection fixes the execution within a Windows environment. I don't know how I'll fix this, maybe just make this command conditional based on the OS value, I'll have to figure out how to detect this from within this ruby environment... hmmm

[cod

[2019-08-22 19:22] ghthor commented on #290
Ok, so this is clearly a Windows only issue which is why I wasn't able to reproduce. Something to do with removing the pipe redirection in that raw commandline string gauging from the suggested fix.

[2019-08-30 14:10] ryanhinton commented on #290
Yes, the fix worked for me as well.  Is there a way for some implementation of the fix to be included in the code for Windows users?

[2019-08-30 16:41] ryanhinton opened #293 "Getting an error when using `gb` shortcut."
Hello, this is probably another bug for Windows users.
Whenever I attempt to execute `gb`  shortcut for `git branch`, I get the following error.

[code]
Is there something I need to do with configuration files or is this a problem somewhere in the code by chance?  I'm not sure why some shortcuts work and some do not.

Thank you for any feedback.

[2019-08-30 17:56] ryanhinton commented on #293
Hmmm.... I'm now thinking this issue has nothing to do with SCM Breeze since even `git branch` produces the same error.

[2019-08-30 21:16] ghthor commented on #293
Scm breeze sets a shell function for the value of `git`.

[code]

Try`$(which git) branch` and see if the error goes away.

[2019-08-30 21:17] ghthor commented on #293
This looks like the `git branch` support is messing up on windows.

[2019-08-30 21:21] ryanhinton commented on #293
Thank you for your reply :-) I tried your recommendation, but receive the same error.
[code]

[2019-08-30 21:23] ghthor commented on #293
Ok, so what type of bash environment are you using on windows? Looks like
there is a path with a space `/c/Program Files/..` that isn't being handled
correctly.

On Fri, Aug 30, 2019 at 5:21 PM Ryan Hinton <notifications@github.com>
wrote:

[2019-08-30 21:23] ghthor commented on #293
What is the output of `which git`

[2019-08-30 21:24] ryanhinton commented on #293
[code]

[2019-08-30 21:28] ghthor commented on #293
Yep, that path with the space is messing this up. I don't know how to handle this to be honest, I'll have to look into this further. The error you are getting is likely coming from [here](https://github.com/scmbreeze/scm_breeze/blob/master/lib/git/branch_shortcuts.sh#L18). But anywhere with [_git_cmd](https://github.com/scmbreeze/scm_breeze/search?q=_git_cmd&unscoped_q=_git_cmd) would need to be a

[2019-08-30 21:29] ghthor commented on #293
The quick fix would be to reinstall your to a filepath without a space.

[2019-08-30 21:29] ryanhinton commented on #293
is that a part of SCM Breeze or Git itself?

[2019-08-30 21:32] ryanhinton commented on #293
I think I'm able to trail through this.  Let me see if I can fix it and possibly be able to make a PR, if that is possible?

[2019-08-30 21:36] ghthor commented on #293
The function [bin_path](https://github.com/scmbreeze/scm_breeze/blob/7152788516bd360e705d229810075c0cdb031c33/lib/git/helpers.sh#L21) is what is returning the path with a space in it. We'd need to do some type of additional processing on the path there to make it support paths with spaces. =/

[2019-09-02 18:59] ryanhinton commented on #293
FYI, I did try to make this work, but kept receiving various areas.  I'm rather new to shell scripting.  I thought it would be simply a search and replace to escape spaces with a backslash and space, but with limited time and knowledge, I could not make it work.  Instead, I uninstalled Git and installed it to the C:\ root path rather than C:\Program Files.  This allowed `gb` to work.

[2019-09-04 20:33] ghthor opened #294 "[Windows] bin_path for git fails when path contains a space"
see #293 for the discovery of this bug.

[2019-09-04 20:33] #293 closed

[2019-09-05 16:16] Stephen2 opened #295 "Support git switch & restore"
So we've got new commands:
https://www.infoq.com/news/2019/08/git-2-23-switch-restore/

Being old, I think I'll struggle to pick them up :p  BUT!  It'd be great to get awesome scm_breeze aliases

Is support on the roadmap?

[2019-10-15 21:54] ndbroadbent commented on #287
Hi @HaleTom, I’m really sorry that I introduced those bugs! Sorry, I just saw this issue now. (I stopped watching the repo and turned off notifications since I got a bit burned out from responding to issues.)

I’ll definitely stop pushing any more code directly to master, and will open a PR next time to get some feedback first. (Although I’m not planning to work on any more changes.)

`shellcheck`

[2019-10-17 16:44] grozen opened #297 "Shell commands stopped getting wrapped"
Recently, built-in shell commands stopped working for my with scm_breeze. Debugging my way around, I found the culprit to be the following line in my ".git.scmbrc" file:

https://github.com/scmbreeze/scm_breeze/blob/8f5693f3452dbfa181da073bf3090c9b92614a61/git.scmbrc.example#L127

What started happening for me (and sadly I cannot say why) is that instead of wrapping each of the commands in `scmb_w

[2019-10-17 18:59] ghthor commented on #297
I feel like I've seen this before. Which shell are you loading into [bash, zsh]?

[2019-10-17 19:59] grozen commented on #297
Oh yes, that would have been a useful bit of information. I'm using zsh.

[2019-11-01 17:08] ryanhinton commented on #248
I am no longer using RVM  and I am currently using ASDF. FWIW, I am also no longer using Windows and instead using Ubuntu for my work environment.  No issues, so far :-)

[2019-11-07 15:47] vise890 commented on #297
I also started experiencing this bug. I'm also on zsh.

This is the relevant bit of code that wraps the commands. https://github.com/scmbreeze/scm_breeze/blob/8f5693f3452dbfa181da073bf3090c9b92614a61/lib/git/shell_shortcuts.sh#L26
It does not work as `vim emacs gedit cat rm cp mv ln cd ls less subl code` is interpreted as a single element (as @grozen has pointed out).

It seems that in other place

[2019-12-22 00:26] brianpeiris commented on #297
See also https://github.com/scmbreeze/scm_breeze/issues/284 and #283

[2019-12-22 00:33] brianpeiris commented on #271
This is referring to the website link at the top of the github repo, beside the repo description. Here is the archived version: https://web.archive.org/web/20161115050414/http://madebynathan.com/2011/10/19/git-shortcuts-like-youve-never-seen-before/

It's basically just an old version of the README, so I'd suggest removing the website link altogether.

[2019-12-23 18:08] #66 closed

[2020-02-03 09:05] valerybugakov opened #298 "Separator is not working correctly"
Hello, first of all, thank you for the amazing scripts! Love them.

It looks like the output from the scripts is not separated via the separator symbol.

<img width="881" alt="Screenshot 2020-02-03 at 16 02 28" src="https://user-images.githubusercontent.com/3846380/73639262-97931f80-469e-11ea-8d07-6b398ea762f0.png">

Instead of printing just `/Users/val/.dotfiles/oldschool/dots/.eslintrc` it print

[2020-03-09 20:45] m-rey opened #300 "Path to .zshrc is hardcoded to ~/.zshrc"
Currently, the path to `.zshrc` is hardcoded to `~/.zshrc`. However, its path can be set by the environment variable `ZDOTDIR`. The install and uninstall scripts could check and use `ZDOTDIR` if it is set and default to `~` otherwise.

[2020-03-10 22:03] #300 closed

[2020-05-26 17:26] edutrul commented on #181
Thanks @shinriyo

[2020-08-23 21:16] hjobrien opened #303 "command not found: compdef on zsh after upgrading from bash"
Hi, I've been using this for awhile on bash, but I recently updated to zsh because that's the new standard shell for macOS. however, I now get `/Users/Hank/.scm_breeze/lib/git/aliases.sh:190: command not found: compdef` when I open a new terminal, although it seems like the functionality of `scm_breeze` is still there (though I haven't thoroughly tested this), is there something I can do to fix th

[2020-08-24 22:38] ghthor commented on #303
Well `compdef` is a zsh function that is used to register command completions. If `which compdef` or `type compdef` isn't returning anything you might need to enable completions in zsh, which I'm not sure exactly how to do that but [this](http://zsh.sourceforge.net/Doc/Release/Completion-System.html) might get you started.

powerlevel10k might have another way to enable completions that will inter

[2020-08-24 22:44] hjobrien commented on #303
thanks @ghthor ! I ran both of those and found that another library I had installed (nvm) reimplemented or somehow imported `compdef`, so I put the line loading that above the one for scm_breeze in my `.zshrc` and everything is working as expected now. It's not the best solution in the world, but I think it should be good enough for me

[2020-08-24 22:52] #303 closed

[2020-09-06 20:45] #295 closed

[2020-09-24 19:58] dzlab opened #305 "ASYNC_PTYS[]: invalid parameter name"
I've installed scm_breeze and now for any git command i keep getting the same error

[code]
I'm on macOS Catalina 10.15.6 and using Oh My Zsh

I'm not sure who is trying to do the `zle -F 11 _async_zle_watcher`, I looked into scm_breeze and couldn't find any reference to this command. Any hints how I could fix this?

[2020-09-24 20:26] dzlab commented on #305
It turns out the problem was cased by this line in `~/.zshrc`
[code]
Removing the first part and keeping the source part fixed the problem
[code]

[2020-11-06 21:16] brianpeiris commented on #271
The link doesn't 404 anymore, so I guess we could close this issue, but I still think the link should just be removed altogether.

[2020-12-04 19:19] ghthor commented on #305
That's a very strange problem, I'm glad that you got it fixed. zsh must be doing something unexpected for a pattern as common as `check if source file exists && source the file` to break.

[2020-12-04 19:19] #305 closed

[2020-12-24 08:30] #291 closed

[2021-01-02 11:38] telzhov opened #306 "Bash completion doesn't work for git v2.30"
Happy New Year everyone!
Upgraded git to v2.30, typed in bash command line 'g', \<space\>, \<tab\>, and got:
[code]
Checked /usr/share/bash-completion/completions/git, and yes, there is no '_git' function defined there (it's there for git <= v2.29.x). So it would be nice for SCM breeze to support v2.30 as well :)

Thanks a lot for your efforts!

[2021-01-02 14:50] ghthor commented on #306
Well, since you have the environment setup already, do you think you could
hack at it and submit a patch that can support git 2.30. They must have
renamed the completion function, or maybe someone packaged 2.30
incorrectly.

On Sat, Jan 2, 2021, 6:38 AM Timur Elzhov <notifications@github.com> wrote:

[2021-01-02 20:44] indexless commented on #306
Thanks, done #307

[2021-01-02 21:25] indexless commented on #306
Accidentally closed, reopening.

[2021-01-05 17:34] #306 closed

[2021-01-14 13:41] eballerini commented on #298
I am running into the same problem. I am not sure what's changed but I have 2 MacBookPros.
It's working on this MBP:
 - Mojave 10.14.1
 - iterm2 3.3.6
 - zsh 5.8 (x86_64-apple-darwin18.7.0)
It's not working on that MBP:
 - Catalina 10.15.7
 - iterm2 3.4.3
 - zsh 5.8 (x86_64-apple-darwin19.3.0)
 - ruby 2.6.3p62 (2019-04-16 revision 67580) [universal.x86_64-darwin19]

[2021-01-14 15:51] valerybugakov commented on #298
Yep, still have this issue. Would appreciate any insight on how to fix it.

[2021-01-19 00:43] sreeram-boyapati opened #308 "Option to use ogham / exa for ls_with_file_shortcuts"
https://github.com/ogham/exa is a `ls` replacement written in rust and pretty prints output. I was wondering if we can configure  `ls_with_file_shortcuts` to use exa as `ll_command`

[2021-01-19 01:43] jeffbyrnes commented on #308
I have SCM Breeze’s `ll_command` disabled, and have these shell aliases instead:

[code]

[2021-01-20 10:15] sreeram-boyapati commented on #308
scm_breeze does a good job of creating shortcuts. I don't want to lose that ability.

[2021-02-01 03:13] rightx2 opened #309 "Strange behaviour of `gd` in submodule"
- Ubuntu 20.04
- git version: git version 2.30.0
- scm_breeze: master(0a687dc )

I have the main project repository which has a submodule. Below is the directory structure in my workspace
- main: `~/Dropbox/Programming/Workspace/django/super_trading_project`
- submodule: `~/Dropbox/Programming/Workspace/django/super_trading_project/super_trading/backtester/event_driven`
- `cat` of `....../event_dr

[2021-02-01 05:05] rightx2 commented on #309
If I run with a raw command, `git diff file_name`(without `scm_breeze`), it works well..

[2021-04-19 16:47] ghthor opened #311 "Add test cases for branches containing `.` period characters."
Support for `.` characters was added in #310 but there weren't any test cases added to verify the behavior.

[2021-05-04 13:50] ksamuel commented on #290
I have the same issue, but using Ubuntu. The windows fix doesn't do anything.

[2021-05-04 18:31] ghthor commented on #290
@ksamuel can you copy the output of you ubuntu systems ruby version?
Something like

[code]

On Tue, May 4, 2021, 8:51 AM ksamuel ***@***.***> wrote:

[2021-05-06 19:35] ksamuel commented on #290
[code]

[2021-09-29 08:38] lrntgr commented on #309
I'm facing the same issue here. From within the submodule directory:
 - regular `git status` works correctly
[code]
 - SCM breeze `gs` displays a weird `/.git/modules` path
[code]
As a result, `gd 1` fails due to this abnormal path : `fatal: ambiguous argument '<REPO_DIRNAME>/.git/modules/<SUBMODULE_DIRNAME>/foo.txt': unknown revision or path not in the working tree.`, whereas `git diff foo.txt` w

[2021-09-29 08:57] lrntgr commented on #309
I solved the issue by installing `ruby`.

Indeed, 'scm_breeze.sh' behaves differently depending on whethter `ruby` is present or not (cf [code permalink](https://github.com/scmbreeze/scm_breeze/blob/ff6af425e2769c55061d866c1e8fb4def4efab12/scm_breeze.sh#L30:L34)):

- with `ruby` installed, `gs` is aliased to the `git_status_shortcuts` defined in **status_shortcuts.sh**, which works properly.
- wit

[2021-09-29 10:13] ghthor commented on #309
Yes, the shell version needs to be worked on and is known to have some
strange behavior. Glad you were able to you issue by installing ruby.

On Wed, Sep 29, 2021 at 04:57 lrntgr ***@***.***> wrote:

[2021-11-09 08:23] aimuch opened #312 "ll failed in Monterey Mac"
![image](https://user-images.githubusercontent.com/17581911/140888187-746c6534-d0d5-4feb-888a-5eab783abeac.png)

[2021-11-11 05:56] kunalkundaje commented on #312
You can replace the default BSD-flavored version of `ls` with the GNU version to get back that option. `brew install coreutils` will get you these tools. Some more info here: https://stackoverflow.com/a/57973942

[2021-11-12 00:33] aimuch commented on #312
Think you, it works.👍

[2021-11-21 15:40] pre commented on #312
A symlink worked for me, without having to add everything from coreutils into my `$PATH`:

[code]

Then ensure `/usr/local/bin` is in your `$PATH` before `/bin`.

I first tried an `alias ls=/usr/local/opt/coreutils/libexec/gnubin/ls` but this didn't work since SCM Breeze refers to `\ls` which disregards any aliases.

[2021-11-28 21:15] gcaprio commented on #312
Sadly this didn't work for me. Any progress on getting this fixed in the core release?

[2021-12-10 20:30] ghthor commented on #312
I don't have the hardware to test, so I haven't done any work concerning this.

[2022-02-03 11:37] pelim commented on #254
quickfix: `brew install coreutils`

[2022-02-11 10:07] tommym9 commented on #312
Bumping into this one on Montery too

[2022-03-04 15:30] alecalve commented on #312
`brew install coretutils` and this patch fixed it for me:

[code]

[2022-03-23 15:34] AbdealiJK opened #313 "Shortcut for vscode in WSL breaking when I use scm-breeze"
I use windows + WSL - it looks like it worked before I use scm-breeze

[code]

If I then run:
`alias code='exec_scmb_expand_args "/mnt/c/Program Files/Microsoft VS Code/bin/code"'`
it seems to work

[2022-03-23 21:49] ghthor commented on #313
duplicate of #299

[2022-03-23 22:03] #294 closed

[2022-03-23 22:04] ghthor commented on #313
Pull the latest master now that I've pulled #299 and this should fix this issue.

[2022-03-23 22:04] #313 closed

[2022-03-26 08:16] AbdealiJK opened #314 "update_scm_breeze giving a git protocol error"
I installed scm-breeze a few weeks ago.
Recently raised the bug https://github.com/scmbreeze/scm_breeze/issues/313 which I see has been solved in master,
So I thought - I need to upgrade to get it fixed for me.

I ran `update_scm_breeze` as was instructed in the README.
And I get this error:
[code]

I am using Windows 10 + Ubuntu 18.04 WSL2
I don't have issues with `git` in any of my other repos/p

[2022-03-28 13:10] ghthor commented on #314
If you look at the `type` for `update_scm_breeze` and read the source code for the function you'll see the steps that you need to take to update.

[code]

Do a quick check that the env variable is defined for scmbDir.

[code]

1. `cd "$scmbDir"` to scm_breeze directory
2. `git pull origin master`
3. `source "$scmbDir/lib/scm_breeze.sh"`
4. `source "$scmbDir/scm_breeze.sh"`

This step is unnecessar

[2022-03-28 15:55] ghthor commented on #314
Yes, the README should be updated as it's using `git://` good point.

[2022-03-28 15:58] ghthor commented on #314
https://github.com/scmbreeze/scm_breeze/commit/62b73f7e78de9d73c72fc764bf28a025bdd9ec2d

[2022-05-19 23:39] Stephen2 opened #315 "ohmyzsh & numbered shortcuts not working"
Just switched from `bash` to `zsh` shell, and using `ohmyzsh`

Have installed `scm_breeze` and it's working, and numbering files, e.g.,:
[code]

But wrapped commands that make use of those numbers don't work:
[code]

Variables are set properly though:
[code]

Version info:
[code]

Any ideas?

[2022-05-20 01:24] ghthor commented on #315
Probably this? https://github.com/scmbreeze/scm_breeze/issues/297

[2022-06-11 20:25] patbl commented on #312
There's already code that's meant to identify macOS, but it's broken on recent macOS versions:

https://github.com/scmbreeze/scm_breeze/blob/24d08174e797034eafac79ee9c9309d7e556f21e/lib/git/shell_shortcuts.sh#L100-L103

This code runs `ls --color=auto` and checks whether that results in an error. If it does, the code assumes that the OS is macOS (technically BSD). According to https://github.com/f

[2022-06-11 20:32] patbl commented on #312
An easy fix would be to use something like `ls --author` instead of `ls --color=auto`.

[2022-06-23 19:02] jamesvphan commented on #315
I am also running across something similar. I'm on macOS Monterey and noticed that after installing scm_breeze, I not only don't see the numbered shortcuts, but I also noticed that some of the scm_breeze git commands do not work (`gb` for example). I believe scm_breeze is conflicting with the command line tools installed. When I run `which -a git`, I get the following as opposed to the normal mess

[2022-06-23 19:16] ghthor commented on #315
@jamesvphan what's the output of the following, I think the head of output is snipped off?

[code]

[2022-06-23 19:27] jamesvphan commented on #315
I get this:
`git is a shell function from /Users/[name]/.scm_breeze/lib/git/aliases.sh`

[2022-06-25 18:15] #312 closed

[2022-11-10 04:57] telzhov opened #320 "Completions for 'gl' and 'gla' aliases doesn't work"
Fixed them in #319

[2022-11-17 08:05] AndreasArledal opened #321 "Running git funcitons in subshell breaks vared in zsh"
136fb6b4ee446fff8bd976768702200460714c96 breaks git_command_prompt in my zsh setup. Seems like vared is not working properly in subshell.

`git_commit_prompt:vared:8: ZLE not enabled`